
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--tWw {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--tWw .auto-group-pkyo-Xpo {
  box-sizing: border-box;
  padding: 0rem 18.2rem 18rem 18.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o {
  margin: 0rem 0rem 5.6rem 0rem;
  width: calc(100% - 0rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq {
  margin-bottom: 7.15rem;
  box-sizing: border-box;
  padding-top: 2.075rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq .menu-5zj {
  margin-bottom: 7.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq .menu-5zj .frame-53-dWT {
  margin-right: 58.8166rem;
  width: 14rem;
  height: 6.4rem;
  position: relative;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq .menu-5zj .frame-53-dWT .menu-MxF {
  width: 1.55rem;
  height: 1.0036rem;
  position: absolute;
  left: 2.425rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq .menu-5zj .frame-53-dWT .rectangle-12-gDq {
  width: 14rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem rgba(4, 15, 22, 0.200000003);
  box-sizing: border-box;
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq .menu-5zj .frame-53-dWT .item--mm5 {
  width: 6.2rem;
  height: 2.4rem;
  position: absolute;
  left: 5.6rem;
  top: 1.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq .menu-5zj .frame-203-2BD {
  margin: 0rem 34.117rem 0.712rem 0rem;
  width: 9.9668rem;
  height: 6.2127rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq .menu-5zj .frame-244-vnP {
  height: 6.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq .menu-5zj .frame-244-vnP .item-8-800-555-35-35-sBq {
  margin-right: 3.2rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq .menu-5zj .frame-244-vnP .frame-7-Msh {
  box-sizing: border-box;
  padding: 2.2rem 3.2rem 2.1rem 3.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #e75d14;
  border-radius: 5rem;
  flex-shrink: 0;
  cursor: pointer;
  text-decoration: none;
  transition: 1s;
  opacity: 0.8;
}

.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq .menu-5zj .frame-244-vnP .frame-7-Msh:hover{
    opacity: 3;
}


.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq .item--q2B {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq .item--q2B .item--kew {
  margin: 0.05rem 1.5rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq .item--q2B .right-arrow-S1y {
  margin: 0rem 2.8rem 0.05rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .menu-Moq .item--q2B .item--jmm {
  margin-top: 0.05rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .item--oWj {
  margin-bottom: 7.1rem;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 1.2000000817;
  letter-spacing: -0.112rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP {
  width: 100%;
  row-gap: 3.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj {
  width: 100%;
  height: 34.8rem;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-411-NTM {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-411-NTM .frame-26-uy5 {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-28j.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-411-NTM .frame-26-uy5 .frame-225-pq9 {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-411-NTM .frame-26-uy5 .frame-225-pq9 .play-1-ivX {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-411-NTM .frame-26-uy5 .frame-412-Rpw {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-411-NTM .item-02092023-ps5 {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-412-VyD {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-412-VyD .frame-26-SNf {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-FHu.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-412-VyD .frame-26-SNf .frame-225-9ns {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-412-VyD .frame-26-SNf .frame-225-9ns .play-1-GMh {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-412-VyD .frame-26-SNf .frame-412-NvX {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-412-VyD .item-02092023-CPm {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-413-5TZ {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-413-5TZ .frame-26-R1d {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-72K.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-413-5TZ .frame-26-R1d .frame-225-XqM {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-413-5TZ .frame-26-R1d .frame-225-XqM .play-1-qr3 {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-413-5TZ .frame-26-R1d .frame-412-ANX {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-413-5TZ .item-02092023-mt7 {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-414-FHV {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-414-FHV .frame-26-BS3 {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-Law.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-414-FHV .frame-26-BS3 .frame-225-h9V {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-414-FHV .frame-26-BS3 .frame-225-h9V .play-1-D7q {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-414-FHV .frame-26-BS3 .frame-412-8kb {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-FNj .frame-414-FHV .item-02092023-X23 {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts {
  width: 100%;
  height: 34.8rem;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-411-LkB {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-411-LkB .frame-26-Gtj {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-6eP.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-411-LkB .frame-26-Gtj .frame-225-z43 {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-411-LkB .frame-26-Gtj .frame-225-z43 .play-1-VWb {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-411-LkB .frame-26-Gtj .frame-412-QdZ {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-411-LkB .item-02092023-e27 {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-412-hm5 {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-412-hm5 .frame-26-3a3 {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-WqZ.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-412-hm5 .frame-26-3a3 .frame-225-xBD {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-412-hm5 .frame-26-3a3 .frame-225-xBD .play-1-4EF {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-412-hm5 .frame-26-3a3 .frame-412-Ao5 {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-412-hm5 .item-02092023-QSX {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-413-u8P {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-413-u8P .frame-26-Su1 {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 221.131%;
  background-position: 0 -0.5398rem;
  background-image: url('/../assets/frame-26-bg-mCo.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-413-u8P .frame-26-Su1 .frame-225-9YX {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-413-u8P .frame-26-Su1 .frame-225-9YX .play-1-pPm {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-413-u8P .frame-26-Su1 .frame-412-8fM {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-413-u8P .frame-26-Su1 .frame-26-Su1-bg {
  width: 37.1rem;
  height: 25.2rem;
  position: relative;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-413-u8P .item-02092023-HRm {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-414-mrj {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-414-mrj .frame-26-i1H {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-zQ3.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-414-mrj .frame-26-i1H .frame-225-2Gs {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-414-mrj .frame-26-i1H .frame-225-2Gs .play-1-8ao {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-414-mrj .frame-26-i1H .frame-412-FQX {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-Cts .frame-414-mrj .item-02092023-V3y {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT {
  width: 100%;
  height: 34.8rem;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-411-Wjm {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-411-Wjm .frame-26-eqy {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-Nom.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-411-Wjm .frame-26-eqy .frame-225-xbm {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-411-Wjm .frame-26-eqy .frame-225-xbm .play-1-GMZ {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-411-Wjm .frame-26-eqy .frame-412-nqh {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-411-Wjm .item-02092023-EBu {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-412-Wv7 {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-412-Wv7 .frame-26-f2K {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-EuH.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-412-Wv7 .frame-26-f2K .frame-225-a9H {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-412-Wv7 .frame-26-f2K .frame-225-a9H .play-1-VGF {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-412-Wv7 .frame-26-f2K .frame-412-zyh {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-412-Wv7 .item-02092023-pC3 {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-413-7S3 {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-413-7S3 .frame-26-r8j {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-62X.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-413-7S3 .frame-26-r8j .frame-225-kzo {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-413-7S3 .frame-26-r8j .frame-225-kzo .play-1-spX {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-413-7S3 .frame-26-r8j .frame-412-C67 {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-413-7S3 .item-02092023-EYb {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-414-8dy {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-414-8dy .frame-26-HFy {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-c6F.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-414-8dy .frame-26-HFy .frame-225-nyR {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-414-8dy .frame-26-HFy .frame-225-nyR .play-1-6z7 {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-414-8dy .frame-26-HFy .frame-412-RFh {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-NtT .frame-414-8dy .item-02092023-ePM {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF {
  width: 100%;
  height: 34.8rem;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-411-g59 {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-411-g59 .frame-26-cUb {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-DK9.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-411-g59 .frame-26-cUb .frame-225-XbZ {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-411-g59 .frame-26-cUb .frame-225-XbZ .play-1-3K1 {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-411-g59 .frame-26-cUb .frame-412-9sq {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-411-g59 .item-02092023-aTM {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-412-shM {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-412-shM .frame-26-QSP {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-Qbm.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-412-shM .frame-26-QSP .frame-225-gPu {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-412-shM .frame-26-QSP .frame-225-gPu .play-1-PJK {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-412-shM .frame-26-QSP .frame-412-tks {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-412-shM .item-02092023-iju {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-413-Qsd {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-413-Qsd .frame-26-9KR {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-Znb.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-413-Qsd .frame-26-9KR .frame-225-U6o {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-413-Qsd .frame-26-9KR .frame-225-U6o .play-1-aQj {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-413-Qsd .frame-26-9KR .frame-412-Hpw {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-413-Qsd .item-02092023-ifM {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-414-RJs {
  box-sizing: border-box;
  padding-bottom: 4.8rem;
  width: 37.1rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-414-RJs .frame-26-krw {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 8.2rem 2.4rem 1.6rem 14.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.400000006);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-26-bg-195.png');
  border-radius: 3.2rem;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-414-RJs .frame-26-krw .frame-225-GqH {
  margin: 0rem 11.7rem 4.1rem 0rem;
  box-sizing: border-box;
  padding: 3.37rem 3.376rem 3.37rem 3.733rem;
  border: solid 0.1rem #ffffff;
  border-radius: 4.4rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-414-RJs .frame-26-krw .frame-225-GqH .play-1-aqy {
  width: 1.6908rem;
  height: 2.0605rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-414-RJs .frame-26-krw .frame-412-hvb {
  margin-left: 15.1rem;
  width: 5.4rem;
  height: 2.5rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3999999364;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 15, 22, 0.400000006);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-406-q4o .frame-381-eNw .frame-536-JiP .frame-415-wtF .frame-414-RJs .item-02092023-YAX {
  margin-left: 2.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .auto-group-pkyo-Xpo .frame-430-beb {
  height: 8rem;
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-430-beb .frame-213-8eX {
  margin-bottom: 0rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-430-beb .frame-221-f8f {
  margin: 0rem 0rem 0rem 0rem;
  box-sizing: border-box;
  padding: 2.4rem;
  width: 49.9rem;
  height: calc(100% - 0rem);
  border: solid 0.1rem rgba(4, 15, 22, 0.200000003);
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-430-beb .frame-221-f8f .frame-224-BMu {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
}
.item--tWw .auto-group-pkyo-Xpo .frame-430-beb .frame-221-f8f .frame-224-BMu .frame-423-KDD {
  width: 4rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 10rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-430-beb .frame-221-f8f .frame-224-BMu .frame-424-bwR {
  width: 4.4rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-430-beb .frame-221-f8f .frame-224-BMu .frame-425-6NP {
  width: 4.4rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cbc0ad;
  border-radius: 10rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-430-beb .frame-221-f8f .frame-224-BMu .frame-426-Bej {
  width: 4.5rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-430-beb .frame-221-f8f .frame-224-BMu .frame-427-grP {
  width: 4.4rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-430-beb .frame-221-f8f .frame-224-BMu .frame-428-n8j {
  width: 4.5rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-430-beb .frame-221-f8f .frame-224-BMu .item--HLP {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-430-beb .frame-221-f8f .frame-224-BMu .frame-429-Qvo {
  width: 6.3rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10rem;
  flex-shrink: 0;
}
.item--tWw .auto-group-pkyo-Xpo .frame-430-beb .frame-222-6Hq {
  margin-top: 0rem;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK {
  box-sizing: border-box;
  padding: 3.3rem 26rem 3.2rem 27.8rem;
  width: 100%;
  height: 32.1rem;
  background: linear-gradient(90deg, #040f16 0%, rgba(4, 15, 22, 0.9200000167) 100%);
  border-radius: 3.2rem 3.2rem 0 0;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM {
  margin-right: 52.1rem;
  width: 61.1rem;
  height: 100%;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-192-2qh {
  margin-bottom: 5.1525rem;
  width: 100%;
  height: 16rem;
  display: flex;
  align-items: flex-start;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-192-2qh .frame-505-xzF {
  margin-right: 5.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-192-2qh .frame-505-xzF .item--X1m {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-192-2qh .frame-505-xzF .frame-506-oV5 {
  row-gap: 0.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-192-2qh .frame-505-xzF .frame-506-oV5 .item--MFh {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-192-2qh .frame-505-xzF .frame-506-oV5 .item--4fu {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-192-2qh .frame-505-xzF .frame-506-oV5 .item--ZsZ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-192-2qh .frame-507-tQ3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-192-2qh .frame-507-tQ3 .item--e8K {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-192-2qh .frame-507-tQ3 .frame-508-8JP {
  row-gap: 0.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-192-2qh .frame-507-tQ3 .frame-508-8JP .item--smm {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-192-2qh .frame-507-tQ3 .frame-508-8JP .item--cDZ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-192-2qh .frame-507-tQ3 .frame-508-8JP .item--8hh {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-192-2qh .frame-507-tQ3 .frame-508-8JP .item--sQP {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-502-CSf {
  margin-right: 19.9rem;
  width: calc(100% - 19.9rem);
  display: flex;
  align-items: flex-end;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-502-CSf .frame-182-wf9 {
  margin: 0rem 2.4rem 0.1rem 0rem;
  width: 7.2001rem;
  height: 4.3475rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-509-6BM .frame-502-CSf .grace-2023-rGK {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-503-ZgX {
  width: 25rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-503-ZgX .frame-510-X7Z {
  margin-bottom: 12.8rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-503-ZgX .frame-510-X7Z .item--595 {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-503-ZgX .frame-510-X7Z .item-8-800-555-35-35-ZK9 {
  margin-right: 1.7rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-503-ZgX .frame-509-GUT {
  margin: 0rem 1.7rem 0rem 4.3rem;
  box-sizing: border-box;
  padding: 1.2rem 2.4rem 1.1rem 2.4rem;
  width: calc(100% - 6rem);
  height: 4.3rem;
  border: solid 0.1rem rgba(189, 194, 191, 0.5);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-503-ZgX .frame-509-GUT .frame-321-NXV {
  width: 100%;
  height: 100%;
  position: relative;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-503-ZgX .frame-509-GUT .frame-321-NXV .item--XfH {
  width: 8.5rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.365;
  letter-spacing: 0.028rem;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.item--tWw .frame-245-QpK .frame-504-LT5 .frame-503-ZgX .frame-509-GUT .frame-321-NXV .logo-2M9 {
  width: 6.2rem;
  height: 1.425rem;
  position: absolute;
  left: 8rem;
  top: 0.225rem;
  object-fit: contain;
  vertical-align: top;
}
.item--tWw .item-8-800-555-35-35-rLB {
  margin-right: 15.9rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.06rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.offcanvas-body a{
    font-size: 30px;
    margin-top: 50px;
    cursor: pointer;
  }

.frame-506-oV5 a{
    cursor: pointer;
    text-decoration: none;
}


.frame-508-8JP a {
    cursor: pointer;
    text-decoration: none;
}


