<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Бесплатные учебные материалы</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=NT+Somic%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope%3A600"/>
  <link rel="stylesheet" href="otzivi.component.scss"/>
</head>
<body>
<div class="item--tWw">
  <div class="auto-group-pkyo-Xpo">
    <div class="frame-406-q4o">
      <div class="menu-Moq">
        <div class="menu-5zj">
          <div class="frame-53-dWT">
            <img class="menu-MxF" src="/../assets/menu-rm1.png" />
  
            <button class="navbar-toggler rectangle-12-gDq" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
              aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class=" nav-item">
                    <a class="main-str main-font nav-link active" aria-current="page" href="#">Главная страница</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click) = "goto_vse_kursi()">Все курсы</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" (click) = "goto_ochniy_kurs()">Страница очного курса</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" (click) = "goto_onlayn_kurs()">Страница онлайн курса</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" (click) = "goto_obuch_roliki()">Бесплатные учебные материалы</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" (click) = "goto_str_stati()">Страница статьи</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" (click) = "goto_paid_roliks()">Страница платного ролика</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" (click) = "goto_O_Nas()">О нас</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" (click) = "goto_Otzivi()">Отзывы</a>
                  </li>
                </ul>
              </div>
            </div>
            <p class="item--mm5">Меню</p>
          </div>
          <img class="frame-203-2BD" src="/../assets/frame-203-4nF.png"/>
          <div class="frame-244-vnP">
            <p class="item-8-800-555-35-35-sBq">8 (800) 555 35 35</p>
            <a class="frame-7-Msh">Отправить заявку</a>
          </div>
        </div>
        <div class="item--q2B">
          <p class="item--kew">Главная</p>
          <img class="right-arrow-S1y" src="/../assets/right-arrow-cXM.png"/>
          <p class="item--jmm" (click) = "goto_Otzivi">Отзывы</p>
        </div>
      </div>
      <div class="frame-381-eNw">
        <p class="item--oWj">Отзывы</p>
        <div class="frame-536-JiP">
          <div class="frame-415-FNj">
            <div class="frame-411-NTM">
              <div class="frame-26-uy5">
                <div class="frame-225-pq9">
                  <img class="play-1-ivX" src="/../assets/play-1-xbD.png"/>
                </div>
                <div class="frame-412-Rpw">15:04</div>
              </div>
              <div class="item-02092023-ps5">02.09.2023</div>
            </div>
            <div class="frame-412-VyD">
              <div class="frame-26-SNf">
                <div class="frame-225-9ns">
                  <img class="play-1-GMh" src="/../assets/play-1-ANw.png"/>
                </div>
                <div class="frame-412-NvX">15:04</div>
              </div>
              <div class="item-02092023-CPm">02.09.2023</div>
            </div>
            <div class="frame-413-5TZ">
              <div class="frame-26-R1d">
                <div class="frame-225-XqM">
                  <img class="play-1-qr3" src="/../assets/play-1-hU7.png"/>
                </div>
                <div class="frame-412-ANX">15:04</div>
              </div>
              <div class="item-02092023-mt7">02.09.2023</div>
            </div>
            <div class="frame-414-FHV">
              <div class="frame-26-BS3">
                <div class="frame-225-h9V">
                  <img class="play-1-D7q" src="/../assets/play-1-uLX.png"/>
                </div>
                <div class="frame-412-8kb">15:04</div>
              </div>
              <div class="item-02092023-X23">02.09.2023</div>
            </div>
          </div>
          <div class="frame-415-Cts">
            <div class="frame-411-LkB">
              <div class="frame-26-Gtj">
                <div class="frame-225-z43">
                  <img class="play-1-VWb" src="/../assets/play-1-VEj.png"/>
                </div>
                <div class="frame-412-QdZ">15:04</div>
              </div>
              <div class="item-02092023-e27">02.09.2023</div>
            </div>
            <div class="frame-412-hm5">
              <div class="frame-26-3a3">
                <div class="frame-225-xBD">
                  <img class="play-1-4EF" src="/../assets/play-1-QJ7.png"/>
                </div>
                <div class="frame-412-Ao5">15:04</div>
              </div>
              <div class="item-02092023-QSX">02.09.2023</div>
            </div>
            <div class="frame-413-u8P">
              <div class="frame-26-Su1">
                <div class="frame-225-9YX">
                  <img class="play-1-pPm" src="/../assets/play-1-g2o.png"/>
                </div>
                <div class="frame-412-8fM">15:04</div>
                <div class="frame-26-Su1-bg">
                </div>
              </div>
              <div class="item-02092023-HRm">02.09.2023</div>
            </div>
            <div class="frame-414-mrj">
              <div class="frame-26-i1H">
                <div class="frame-225-2Gs">
                  <img class="play-1-8ao" src="/../assets/play-1-WGT.png"/>
                </div>
                <div class="frame-412-FQX">15:04</div>
              </div>
              <div class="item-02092023-V3y">02.09.2023</div>
            </div>
          </div>
          <div class="frame-415-NtT">
            <div class="frame-411-Wjm">
              <div class="frame-26-eqy">
                <div class="frame-225-xbm">
                  <img class="play-1-GMZ" src="/../assets/play-1-nu9.png"/>
                </div>
                <div class="frame-412-nqh">15:04</div>
              </div>
              <div class="item-02092023-EBu">02.09.2023</div>
            </div>
            <div class="frame-412-Wv7">
              <div class="frame-26-f2K">
                <div class="frame-225-a9H">
                  <img class="play-1-VGF" src="/../assets/play-1-zXV.png"/>
                </div>
                <div class="frame-412-zyh">15:04</div>
              </div>
              <div class="item-02092023-pC3">02.09.2023</div>
            </div>
            <div class="frame-413-7S3">
              <div class="frame-26-r8j">
                <div class="frame-225-kzo">
                  <img class="play-1-spX" src="/../assets/play-1-yG7.png"/>
                </div>
                <div class="frame-412-C67">15:04</div>
              </div>
              <div class="item-02092023-EYb">02.09.2023</div>
            </div>
            <div class="frame-414-8dy">
              <div class="frame-26-HFy">
                <div class="frame-225-nyR">
                  <img class="play-1-6z7" src="/../assets/play-1-3As.png"/>
                </div>
                <div class="frame-412-RFh">15:04</div>
              </div>
              <div class="item-02092023-ePM">02.09.2023</div>
            </div>
          </div>
          <div class="frame-415-wtF">
            <div class="frame-411-g59">
              <div class="frame-26-cUb">
                <div class="frame-225-XbZ">
                  <img class="play-1-3K1" src="/../assets/play-1-yGf.png"/>
                </div>
                <div class="frame-412-9sq">15:04</div>
              </div>
              <div class="item-02092023-aTM">02.09.2023</div>
            </div>
            <div class="frame-412-shM">
              <div class="frame-26-QSP">
                <div class="frame-225-gPu">
                  <img class="play-1-PJK" src="/../assets/play-1-iyR.png"/>
                </div>
                <div class="frame-412-tks">15:04</div>
              </div>
              <div class="item-02092023-iju">02.09.2023</div>
            </div>
            <div class="frame-413-Qsd">
              <div class="frame-26-9KR">
                <div class="frame-225-U6o">
                  <img class="play-1-aQj" src="/../assets/play-1-n7m.png"/>
                </div>
                <div class="frame-412-Hpw">15:04</div>
              </div>
              <div class="item-02092023-ifM">02.09.2023</div>
            </div>
            <div class="frame-414-RJs">
              <div class="frame-26-krw">
                <div class="frame-225-GqH">
                  <img class="play-1-aqy" src="/../assets/play-1-Wsu.png"/>
                </div>
                <div class="frame-412-hvb">15:04</div>
              </div>
              <div class="item-02092023-YAX">02.09.2023</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-430-beb">
      <img class="frame-213-8eX" src="/../assets/frame-213.png"/>
      <div class="frame-221-f8f">
        <div class="frame-224-BMu">
          <div class="frame-423-KDD">1</div>
          <div class="frame-424-bwR">2</div>
          <div class="frame-425-6NP">3</div>
          <div class="frame-426-Bej">4</div>
          <div class="frame-427-grP">5</div>
          <div class="frame-428-n8j">6</div>
          <p class="item--HLP">...</p>
          <div class="frame-429-Qvo">156</div>
        </div>
      </div>
      <img class="frame-222-6Hq" src="/../assets/frame-222-qGF.png"/>
    </div>
  </div>
  <div class="frame-245-QpK">
    <div class="frame-504-LT5">
      <div class="frame-509-6BM">
        <div class="frame-192-2qh">
          <div class="frame-505-xzF">
            <p class="item--X1m">Платные материалы</p>
            <div class="frame-506-oV5">
              <a class="item--MFh" (click)="goto_onlayn_kurs()">Онлайн курсы</a>
              <a class="item--4fu" (click) = "goto_ochniy_kurs()">Очные курсы</a>
              <a class="item--ZsZ" (click) = "goto_obuch_roliki()">Видео ролики</a>
            </div>
          </div>
          <div class="frame-507-tQ3">
            <p class="item--e8K">Об учебном центре</p>
            <div class="frame-508-8JP">
              <a class="item--smm" (click) ="goto_O_Nas()">О нас</a>
              <a class="item--sQP" (click) = "goto_obuch_roliki()">Бесплатно</a>
            </div>
          </div>
        </div>
        <div class="frame-502-CSf">
          <img class="frame-182-wf9" src="/../assets/frame-182-6XV.png"/>
          <p class="grace-2023-rGK">© Образовательный центр «Grace», 2023</p>
        </div>
      </div>
      <div class="frame-503-ZgX">
        <div class="frame-510-X7Z">
          <p class="item--595">Номер телефона для справок:</p>
          <p class="item-8-800-555-35-35-ZK9">8 (800) 555 35 35</p>
        </div>
        <div class="frame-509-GUT">
          <div class="frame-321-NXV">
            <p class="item--XfH">Сделано в</p>
            <img class="logo-2M9" src="/../assets/logo-pYT.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>