<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Бесплатные учебные материалы</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=NT+Somic%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope%3A600"/>
  <link rel="stylesheet" href="free-learns.component.scss"/>
</head>
<body>
<div class="item--NMR">
  <div class="frame-406-pDR">
    <div class="menu-vXM">
      <div class="menu-EH9">
        <div class="frame-53-ZqD">
          <img class="menu-u8P" src="/../assets/menu-rm1.png" />

          <button class="navbar-toggler rectangle-12-2Tu" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class=" nav-item">
                  <a class="main-str main-font nav-link active" aria-current="page" href="#">Главная страница</a>
                </li>
                <li class="nav-item">
                  <a class="raznica-str main-font nav-link" (click) = "goto_vse_kursi()">Все курсы</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" (click) = "goto_ochniy_kurs()">Страница очного курса</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" (click) = "goto_onlayn_kurs()">Страница онлайн курса</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" (click) = "goto_obuch_roliki()">Бесплатные учебные материалы</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" (click) = "goto_str_stati()">Страница статьи</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" (click) = "goto_paid_roliks()">Страница платного ролика</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" (click) = "goto_O_Nas()">О нас</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="otziv nav-link" (click) = "goto_Otzivi()">Отзывы</a>
                </li>
              </ul>
            </div>
          </div>
          <p class="item--YBM">Меню</p>
        </div>
        <img class="frame-203-nbV" src="/../assets/frame-203-EPM.png"/>
        <div class="frame-244-5U7">
          <p class="item-8-800-555-35-35-RXy">8 (800) 555 35 35</p>
          <button class="beautiful-button">Отправить заявку</button>
        </div>
      </div>
      <div class="item--B9m">
        <p class="item--5F9">Главная</p>
        <img class="right-arrow-Zg7" src="/../assets/right-arrow-SXM.png"/>
        <p class="item--swh">Бесплатные учебные материалы</p>
      </div>
    </div>
    <div class="frame-381-kkb">
      <p class="item--7b9">Бесплатные учебные материалы</p>
      <div class="frame-422-NGB">
        <div class="frame-409-WNP">
          <div class="frame-410-Smq">
            <p class="item--at3">Видео ролики</p>
            <div class="frame-221-UiX">
              <img class="frame-222-cJw" src="/../assets/frame-222-Zw9.png"/>
              <div class="frame-224-jeT">
                <p class="item-1-V7q">1</p>
                <div class="line-1-NhR">
                </div>
                <p class="item-5-79D">5</p>
              </div>
              <img class="frame-223-Qu1" src="/../assets/frame-223.png"/>
            </div>
          </div>
          <div class="frame-415-ht7">
            <div class="frame-411-Sao">
              <div class="frame-26-yqd">
                <div class="frame-225-69Z">
                  <img class="play-1-CyH" src="/../assets/play-1-o3y.png"/>
                </div>
                <div class="frame-412-vPV">15:04</div>
              </div>
              <div class="item--vH1">Препарирование кариеса — что делают перед пломбой</div>
            </div>
            <div class="frame-412-uej">
              <div class="frame-26-3F9">
                <div class="frame-225-Yxb">
                  <img class="play-1-riP" src="/../assets/play-1-d8o.png"/>
                </div>
                <div class="frame-412-yY7">15:04</div>
              </div>
              <p class="item--pHq">Виниры — подготовка и наложение</p>
            </div>
            <div class="frame-413-px3">
              <div class="frame-26-msH">
                <div class="frame-225-5sy">
                  <img class="play-1-brK" src="/../assets/play-1.png"/>
                </div>
                <div class="frame-412-KnK">15:04</div>
              </div>
              <p class="item--NEo">Удаление камня от зубов</p>
            </div>
            <div class="frame-414-1oZ">
              <div class="frame-26-Z4P">
                <div class="frame-225-sqm">
                  <img class="play-1-bmm" src="/../assets/play-1-Wqh.png"/>
                </div>
                <div class="frame-412-7EK">15:04</div>
              </div>
              <p class="item--iV1">Анестезия в стоматологии</p>
            </div>
          </div>
        </div>
        <div class="frame-410-yA3">
          <p class="item--Wvf">Статьи</p>
          <div class="frame-421-R23">
            <div class="frame-431-L91">
              <div class="frame-411-gCs">
                <div class="frame-26-ccK">
                  <div class="frame-412-cu9">
                    <img class="timer-MLw" src="/../assets/timer.png"/>
                    <div class="item-5--5nj">5 мин.</div>
                  </div>
                  <div class="frame-26-ccK-bg">
                  </div>
                </div>
                <div class="auto-group-2qy9-sTh">
                  <p class="item--Pwq">Препарирование кариеса — что делают перед пломбой</p>
                  <div class="frame-420-PqM">
                    <a href="#" class="frame-418-jPR">Поделиться</a>
                    <a href="#" class="frame-7-D3h">Читать</a>
                  </div>
                </div>
              </div>
              <div class="frame-412-t9q">
                <div class="frame-26-SBM">
                  <div class="frame-412-sR5">
                    <img class="timer-Qfu" src="/../assets/timer-xHq.png"/>
                    <div class="item-5--XkX">5 мин.</div>
                  </div>
                  <div class="frame-26-SBM-bg">
                  </div>
                </div>
                <div class="auto-group-6mph-YQj">
                  <p class="item--UpB">Лазерная ирригация при эндодонтическом лечении зуба с обтурацией корневых каналов</p>
                  <div class="frame-420-dab">
                    <a href="#" class="frame-418-YSf">Поделиться</a>
                    <a href="#" class="frame-7-pQB">Читать</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-431-Ujd">
              <div class="frame-411-2WF">
                <div class="frame-26-yAb">
                  <div class="frame-412-b5V">
                    <img class="timer-ivo" src="/../assets/timer-bcw.png"/>
                    <div class="item-5--f5M">5 мин.</div>
                  </div>
                  <div class="frame-26-yAb-bg">
                  </div>
                </div>
                <div class="auto-group-zvc3-rQj">
                  <p class="item--n3V">Препарирование кариеса — что делают перед пломбой</p>
                  <div class="frame-420-BbR">
                    <a href="#" class="frame-418-v3D">Поделиться</a>
                    <a href="#" class="frame-7-14f">Читать</a>
                  </div>
                </div>
              </div>
              <div class="frame-412-GWP">
                <div class="frame-26-p27">
                  <div class="frame-412-zz7">
                    <img class="timer-KFh" src="/../assets/timer-MSb.png"/>
                    <div class="item-5--2A7">5 мин.</div>
                  </div>
                  <div class="frame-26-p27-bg">
                  </div>
                </div>
                <div class="auto-group-subh-cPD">
                  <p class="item--wAb">Препарирование кариеса — что делают перед пломбой</p>
                  <div class="frame-420-YRH">
                    <a href="#" class="frame-418-V5d">Поделиться</a>
                    <a href="#" class="frame-7-aMy">Читать</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-431-r4b">
              <div class="frame-411-Q67">
                <div class="frame-26-wLw">
                  <div class="frame-412-xfM">
                    <img class="timer-u4o" src="/../assets/timer-qV5.png"/>
                    <div class="item-5--czo">5 мин.</div>
                  </div>
                  <div class="frame-26-wLw-bg">
                  </div>
                </div>
                <div class="auto-group-s8uh-pb5">
                  <p class="item--Z2s">Препарирование кариеса — что делают перед пломбой</p>
                  <div class="frame-420-Lxj">
                    <a href="#" class="frame-418-tUT">Поделиться</a>
                    <a href="#" class="frame-7-ZKh">Читать</a>
                  </div>
                </div>
              </div>
              <div class="frame-412-S8b">
                <div class="frame-26-zA7">
                  <div class="frame-412-ETm">
                    <img class="timer-NZy" src="/../assets/timer-ssy.png"/>
                    <div class="item-5--JCj">5 мин.</div>
                  </div>
                  <div class="frame-26-zA7-bg">
                  </div>
                </div>
                <div class="auto-group-flno-WZh">
                  <p class="item--3Zd">Препарирование кариеса — что делают перед пломбой</p>
                  <div class="frame-420-4Uj">
                    <a href="#" class="frame-418-Cqq">Поделиться</a>
                    <a href="#" class="frame-7-6gK">Читать</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-431-NNw">
              <div class="frame-411-Wzw">
                <div class="frame-26-TvB">
                  <div class="frame-412-f95">
                    <img class="timer-zh9" src="/../assets/timer-MHd.png"/>
                    <div class="item-5--XSB">5 мин.</div>
                  </div>
                  <div class="frame-26-TvB-bg">
                  </div>
                </div>
                <div class="auto-group-bptk-Y6P">
                  <p class="item--UEw">Препарирование кариеса — что делают перед пломбой</p>
                  <div class="frame-420-sns">
                    <a href="#" class="frame-418-RJb">Поделиться</a>
                    <a href="#" class="frame-7-6vX">Читать</a>
                  </div>
                </div>
              </div>
              <div class="frame-412-aao">
                <div class="frame-26-LK5">
                  <div class="frame-412-ymM">
                    <img class="timer-5pP" src="/../assets/timer-ZuM.png"/>
                    <div class="item-5--am9">5 мин.</div>
                  </div>
                  <div class="frame-26-LK5-bg">
                  </div>
                </div>
                <div class="auto-group-5ej5-AjM">
                  <p class="item--tQT">Препарирование кариеса — что делают перед пломбой</p>
                  <div class="frame-420-6WX">
                    <a href="#" class="frame-418-e2F">Поделиться</a>
                    <a href="#" class="frame-7-jJb">Читать</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-430-yyd">
            <img class="frame-213-KXh" src="/../assets/frame-213-5Vu.png"/>
            <div class="frame-221-eps">
              <div class="frame-224-nAP">
                <div class="frame-423-uVu">1</div>
                <div class="frame-424-c9R">2</div>
                <div class="frame-425-HmM">3</div>
                <div class="frame-426-bGF">4</div>
                <div class="frame-427-sjZ">5</div>
                <div class="frame-428-a8B">6</div>
                <p class="item--GWo">...</p>
                <div class="frame-429-omd">156</div>
              </div>
            </div>
            <img class="frame-222-t2P" src="/../assets/frame-222.png"/>
          </div>
        </div>
        <div class="frame-229-of9">
          <img class="vector-1-wWT" src="/../assets/vector-1.png"/>
          <p class="item--GYj">Ещё больше полезной информации на наших курсах</p>
          <a class="frame-7-g6f" (click) = "goto_vse_kursi()">Смотреть курсы</a>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-245-qdm">
    <div class="frame-504-ZJs">
      <div class="frame-509-6pb">
        <div class="frame-192-FBh">
          <div class="frame-505-bFZ">
            <p class="item--wKR">Платные материалы</p>
            <div class="frame-506-pe7">
              <a (click) = "goto_onlayn_kurs()" class="item--Ahy">Онлайн курсы</a>
              <a (click) = "goto_ochniy_kurs()" class="item--UyZ">Очные курсы</a>
              <a (click) = "goto_obuch_roliki()" class="item--okw">Видео ролики</a>
            </div>
          </div>
          <div class="frame-507-KUP">
            <p class="item--HAK">Об учебном центре</p>
            <div class="frame-508-Azo">
              <a (click) = "goto_O_Nas()" class="item--8Aw">О нас</a>
              <a (click) = "goto_Otzivi()" class="item--Tj1">Отзывы</a>
              <a (click) = "goto_obuch_roliki()" class="item--84T">Бесплатно</a>
            </div>
          </div>
        </div>
        <div class="frame-502-qUf">
          <img class="frame-182-Yts" src="/../assets/frame-182.png"/>
          <p class="grace-2023-4cK">© Образовательный центр «Grace», 2023</p>
        </div>
      </div>
      <div class="frame-503-AfM">
        <div class="frame-510-K2T">
          <p class="item--T8f">Номер телефона для справок:</p>
          <p class="item-8-800-555-35-35-w3q">8 (800) 555 35 35</p>
        </div>
        <div class="frame-509-Rzb">
          <div class="frame-321-jEb">
            <p class="item--Uxs">Сделано в</p>
            <img class="logo-BMV" src="/../assets/logo-sAT.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>