<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Все курсы</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=NT+Somic%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope%3A600"/>
  <link rel="stylesheet" href="vse-kursi.component.scss"/>
</head>
<body>
<div class="item--uTq">
  <div class="auto-group-uebm-PP1">
    <div class="menu-Enw">
      <div class="menu-xiw">
        <!-- <div class="frame-53-gew">
          <img class="menu-D95" src="/../assets/menu.png"/>

          <button class="navbar-toggler rectangle-12-AEX" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class=" nav-item">
                  <a class="main-str main-font nav-link active" aria-current="page" href="#">Главная страница</a>
                </li>
                <li class="nav-item">
                  <a class="raznica-str main-font nav-link" href="#">Все курсы</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" href="#">Страница очного курса</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" href="#">Страница онлайн курса</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" href="#">Бесплатные учебные материалы</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" href="#">Страница статьи</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" href="#">Страница платного ролика</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" href="#">О нас</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="otziv nav-link" href="#">Отзывы</a>
                </li>
              </ul>
            </div>
          </div>
          <p class="item--Yyy">Меню</p>
        </div> -->
        <div class="frame-53-gew">
          <img class="menu-D95" src="/../assets/menu-rm1.png" />

          <button class="navbar-toggler rectangle-12-AEX" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class=" nav-item">
                  <a class="main-str main-font nav-link active" aria-current="page" href="#">Главная страница</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click) = "goto_vse_kursi()">Все курсы</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click) = "goto_ochniy_kurs()">Страница очного курса</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click) = "goto_onlayn_kurs()">Страница онлайн курса</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click) = "goto_obuch_roliki()">Бесплатные учебные материалы</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click) = "goto_str_stati()">Страница статьи</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click) = "goto_paid_roliks()">Страница платного ролика</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click) = "goto_O_Nas()">О нас</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click) = "goto_Otzivi()">Отзывы</a>
                </li>
              </ul>
            </div>
          </div>
          <p class="item--Yyy">Меню</p>
        </div>
        <img class="frame-203-yZV" src="/../assets/frame-203.png"/>
        <div class="frame-244-ses">
          <p class="item-8-800-555-35-35-dP9">8 (800) 555 35 35</p>
          <a href="#" class="frame-7-851">Отправить заявку</a>
        </div>
      </div>
      <div class="item--Q2X">
        <p class="item--hnK">Главная</p>
        <img class="right-arrow-oqM" src="/../assets/right-arrow.png"/>
        <p class="item--ixK">Курсы</p>
      </div>
    </div>
    <p class="item--dpP">Все курсы</p>
    <div class="frame-378-jMd">
      <div class="frame-361-eUb">
        <p class="item--PBH">Онлайн курсы</p>
        <p class="item-2--5po">2 курса</p>
        <a href="#" class="frame-13-bYF">Смотреть</a>
        <div class="frame-361-eUb-bg">
        </div>
      </div>
      <div class="frame-230-Jb5">
        <p class="item--Rvb">Очные курсы</p>
        <p class="item-4--u55">4 курса</p>
        <a href="#" class="frame-13-nuZ">Смотреть</a>
        <div class="frame-230-Jb5-bg">
        </div>
      </div>
      <div class="frame-362-WUB">
        <p class="item--dHu">Обучающие ролики</p>
        <p class="item-16--JQ3">16 роликов</p>
        <a href="#" class="frame-13-PgP">Смотреть</a>
      </div>
    </div>
    <div class="frame-377-C83">
      <a href="#" class="frame-13-v43">Все направления</a>
      <a href="#" class="frame-14-D39">Хирургия</a>
      <a href="#" class="frame-8-J4b">Терапия</a>
      <a href="#" class="frame-9-C9y">Ортопедия</a>
    </div>
    <div class="frame-379-smu">
      <div class="frame-391-o9m">
      </div>
      <div class="auto-group-t7tf-J6X">
        <p class="master-of-surgery-QvF">Онлайн курс по имплантации «Master of Surgery»</p>
        <div class="auto-group-oplp-6HH">
          <div class="frame-513-SM9">
            <div class="frame-387-Q35">
              <div class="auto-group-tdtw-7iB">7 000 ₽</div>
              <p class="item-13-000-Zq5">13 000</p>
            </div>
            <a href="#" class="frame-7-Ux3">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-380-Ywu">
      <div class="frame-391-4vF">
        <div class="frame-391-4vF-bg">
        </div>
      </div>
      <div class="auto-group-qcps-YaX">
        <p class="item--rr7">Вебинар «Современные методы обезболивания и квалифицированное удаление зубов»</p>
        <div class="auto-group-3fyf-yZM">
          <div class="frame-513-Kt7">
            <div class="frame-387-HK9">
              <div class="auto-group-vvno-yBy">7 000 ₽</div>
              <p class="item-13-000-qEB">13 000</p>
            </div>
            <a href="#" class="frame-7-X71">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-381-9u5">
      <img class="frame-391-4m9" src="/../assets/frame-391.png"/>
      <div class="auto-group-jnnp-PYX">
        <p class="master-of-surgery-HP1">Онлайн курс по имплантации «Master of Surgery»</p>
        <div class="auto-group-5clk-Mdm">
          <div class="frame-513-iDR">
            <div class="frame-387-fuM">
              <div class="auto-group-mjgs-CeP">7 000 ₽</div>
              <p class="item-13-000-FsZ">13 000</p>
            </div>
            <a href="#" class="frame-7-AzX">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-382-3YX">
      <img class="frame-391-yBH" src="/../assets/frame-391-6S7.png"/>
      <div class="auto-group-ewlk-6mh">
        <p class="master-of-surgery-RJB">Онлайн курс по имплантации «Master of Surgery»</p>
        <div class="auto-group-h8cb-6fD">
          <div class="frame-513-eAw">
            <div class="frame-387-PuD">
              <div class="auto-group-t9g7-867">7 000 ₽</div>
              <p class="item-13-000-oCF">13 000</p>
            </div>
            <a href="#" class="frame-7-i4K">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-229-xzF">
      <p class="item--5JB">Остались вопросы?</p>
      <p class="item--x75">Оставьте заявку и мы свяжемся с вами</p>
      <div class="frame-44-D31">
        <div class="group-14-LtK">
          <div class="auto-group-ayp3-6sV">
            <input class="frame-45-TT9" placeholder="Имя">
          </div>
          <div class="auto-group-6ghy-G3D">
            <input class="frame-46-1Wb" placeholder="Номер телефона">
            <a href="#" class="frame-7-soh">Отправить заявку</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-245-V4P">
    <div class="frame-504-oqm">
      <div class="frame-509-xyZ">
        <div class="frame-192-uto">
          <div class="frame-505-Fxf">
            <p class="item--DPh">Платные материалы</p>
            <div class="frame-506-W7u">
              <a (click) = "goto_onlayn_kurs()" class="item--qvs">Онлайн курсы</a>
              <a (click) = "goto_ochniy_kurs()" class="item--mJj">Очные курсы</a>
              <a (click) = "goto_obuch_roliki()" class="item--ssZ">Видео ролики</a>
            </div>
          </div>
          <div class="frame-507-zBV">
            <p class="item--YTu">Об учебном центре</p>
            <div class="frame-508-2dy">
              <a (click) = "goto_O_Nas()" class="item--B15">О нас</a>
              <a (click) = "goto_Otzivi()" class="item--79d">Отзывы</a>
              <a (click) = "goto_obuch_roliki()" class="item--wuM">Бесплатно</a>
            </div>
          </div>
        </div>
        <div class="frame-502-fqM">
          <img class="frame-182-pCT" src="/../assets/frame-182-Pm5.png"/>
          <p class="grace-2023-8U3">© Образовательный центр «Grace», 2023</p>
        </div>
      </div>
      <div class="frame-503-SUj">
        <div class="frame-510-Bx7">
          <p class="item--La7">Номер телефона для справок:</p>
          <p class="item-8-800-555-35-35-Qps">8 (800) 555 35 35</p>
        </div>
        <div class="frame-509-iKm">
          <div class="frame-321-RV5">
            <p class="item--BUF">Сделано в</p>
            <img class="logo-53q" src="/../assets/logo.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>