
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--uTq {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--uTq .auto-group-uebm-PP1 {
  box-sizing: border-box;
  padding: 0rem 18.2rem 18rem 18.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .menu-Enw {
  margin-bottom: 7.15rem;
  box-sizing: border-box;
  padding-top: 2.075rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .menu-Enw .menu-xiw {
  margin-bottom: 7.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .menu-Enw .menu-xiw .frame-53-gew {
  margin-right: 58.8166rem;
  width: 14rem;
  height: 6.4rem;
  position: relative;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .menu-Enw .menu-xiw .frame-53-gew .menu-D95 {
  width: 1.55rem;
  height: 1.0036rem;
  position: absolute;
  left: 2.425rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}

.rectangle-12-AEX {
    width: 14rem;
    height: 6.4rem;
    position: absolute;
    left: 0;
    top: 0;
    border: solid 0.1rem rgba(4, 15, 22, 0.200000003);
    box-sizing: border-box;
    border-radius: 3.2rem;
  }





.item--uTq .auto-group-uebm-PP1 .menu-Enw .menu-xiw .frame-53-gew .rectangle-12-7VM {
  width: 14rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem rgba(4, 15, 22, 0.200000003);
  box-sizing: border-box;
  border-radius: 3.2rem;
}
.item--uTq .auto-group-uebm-PP1 .menu-Enw .menu-xiw .frame-53-gew .item--Yyy {
  width: 6.2rem;
  height: 2.4rem;
  position: absolute;
  left: 5.6rem;
  top: 1.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--uTq .auto-group-uebm-PP1 .menu-Enw .menu-xiw .frame-203-yZV {
  margin: 0rem 34.117rem 0.712rem 0rem;
  width: 9.9668rem;
  height: 6.2127rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .menu-Enw .menu-xiw .frame-244-ses {
  height: 6.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .menu-Enw .menu-xiw .frame-244-ses .item-8-800-555-35-35-dP9 {
  margin-right: 3.2rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .menu-Enw .menu-xiw .frame-244-ses .frame-7-851 {
  width: 20.9rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e75d14;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
  transition: 1s;
  opacity: 0.8;
}

.item--uTq .auto-group-uebm-PP1 .menu-Enw .menu-xiw .frame-244-ses .frame-7-851:hover{
    opacity: 2;
}






.item--uTq .auto-group-uebm-PP1 .menu-Enw .item--Q2X {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .menu-Enw .item--Q2X .item--hnK {
  margin: 0.05rem 1.5rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .menu-Enw .item--Q2X .right-arrow-oqM {
  margin: 0rem 2.8rem 0.05rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .menu-Enw .item--Q2X .item--ixK {
  margin-top: 0.05rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .item--dpP {
  margin: 0rem 140.3rem 7.1rem 0rem;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 1.2000000817;
  letter-spacing: -0.112rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd {
  margin-bottom: 18rem;
  width: 100%;
  height: 20rem;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
  margin-right: 100px;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-361-eUb {
  width: 800px;
  box-sizing: border-box;
  padding: 3.2rem 4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #040f16 0%, rgba(4, 15, 22, 0.3300000131) 81.72%);
  background-size: 101.183% 144.281%;
  background-position: -0.0496rem -4.4281rem;
  background-image: url('/../assets/frame-361-bg.png');
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-361-eUb .item--PBH {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.048rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-361-eUb .item-2--5po {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-361-eUb .frame-13-bYF {
  margin-left: 30.1rem;
  width: 12.2rem;
  height: 5.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
  transition: 1s;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-361-eUb .frame-13-bYF:hover{
    background-color: white;
    color: black;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-361-eUb .frame-361-eUb-bg {
  width: 50.3rem;
  height: 20rem;
  position: relative;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-230-Jb5 {
  box-sizing: border-box;
  padding: 4rem 4rem 3.2rem 5.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #040f16 0%, rgba(4, 15, 22, 0.3300000131) 81.72%);
  background-size: 128.674% 185.652%;
  background-position: -2.948rem -7.3575rem;
  background-image: url('/../assets/ochniye-kursi.png');
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-230-Jb5 .item--Rvb {
  margin: 0rem 35.7rem 1.2rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.048rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-230-Jb5 .item-4--u55 {
  margin: 0rem 43rem 1.6rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-230-Jb5 .frame-13-nuZ {
  margin-left: 35.4rem;
  width: 12.2rem;
  height: 5.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  border-radius: 5rem;
  flex-shrink: 0;
  transition: 1s;
  text-decoration: none;
}

.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-230-Jb5 .frame-13-nuZ:hover{
    background-color: white;
    color: black;
}



.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-230-Jb5 .frame-230-Jb5-bg {
  width: 50.2rem;
  height: 20rem;
  position: relative;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-362-WUB {
  box-sizing: border-box;
  padding: 4rem 4rem 3.2rem 5.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #040f16 0%, rgba(4, 15, 22, 0.3300000131) 81.72%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-362-bg.png');
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-362-WUB .item--dHu {
  margin: 0rem 20.8rem 1.2rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.048rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-362-WUB .item-16--JQ3 {
  margin: 0rem 32.1rem 1.6rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-362-WUB .frame-13-PgP {
  margin-left: 28.5rem;
  width: 12.2rem;
  height: 5.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
  transition: 1s;
}

.item--uTq .auto-group-uebm-PP1 .frame-378-jMd .frame-362-WUB .frame-13-PgP:hover{
    background-color: white;
    color: black;
}



.item--uTq .auto-group-uebm-PP1 .frame-377-C83 {
  margin: 0rem 98.4rem 3.2rem 0rem;
  height: 5.1rem;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-377-C83 .frame-13-v43 {
  width: 17.5rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.032rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040f16;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
}
.item--uTq .auto-group-uebm-PP1 .frame-377-C83 .frame-14-D39 {
  width: 11.8rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.032rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #040f16;
  box-sizing: border-box;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
}
.item--uTq .auto-group-uebm-PP1 .frame-377-C83 .frame-8-J4b {
  width: 11.1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.032rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #040f16;
  box-sizing: border-box;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
}
.item--uTq .auto-group-uebm-PP1 .frame-377-C83 .frame-9-C9y {
  width: 13.2rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  letter-spacing: -0.032rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #040f16;
  box-sizing: border-box;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
}
.item--uTq .auto-group-uebm-PP1 .frame-379-smu {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding-right: 5rem;
  width: 100%;
  height: 26.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(4, 15, 22, 0.1000000015);
  background-color: #fafafa;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-379-smu .frame-391-o9m {
  margin-right: 2.6rem;
  width: 37.5rem;
  height: 26.1rem;
  position: relative;
  background-size: 135.6% 129.885%;
  background-position: -6.625rem 0;
  background-image: url('/../assets/frame-391-qo1.png');
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-379-smu .auto-group-t7tf-J6X {
  margin: 3.2rem 0rem 4rem 0rem;
  width: 110.5rem;
  height: calc(100% - 7.2rem);
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-379-smu .auto-group-t7tf-J6X .master-of-surgery-QvF {
  margin: 0rem 0rem 9.4rem 2.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--uTq .auto-group-uebm-PP1 .frame-379-smu .auto-group-t7tf-J6X .auto-group-oplp-6HH {
  width: 100%;
  height: 6.3rem;
}
.item--uTq .auto-group-uebm-PP1 .frame-379-smu .auto-group-t7tf-J6X .auto-group-oplp-6HH .frame-513-SM9 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--uTq .auto-group-uebm-PP1 .frame-379-smu .auto-group-t7tf-J6X .auto-group-oplp-6HH .frame-513-SM9 .frame-387-Q35 {
  margin: 0.45rem 76.1rem 0.397rem 0rem;
  height: calc(100% - 0.8472rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-379-smu .auto-group-t7tf-J6X .auto-group-oplp-6HH .frame-513-SM9 .frame-387-Q35 .auto-group-tdtw-7iB {
  margin-right: 1.8148rem;
  width: 12.1852rem;
  height: 100%;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e75d14;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-379-smu .auto-group-t7tf-J6X .auto-group-oplp-6HH .frame-513-SM9 .frame-387-Q35 .item-13-000-Zq5 {
  margin-top: 0.0472rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  text-decoration-line: line-through;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-379-smu .auto-group-t7tf-J6X .auto-group-oplp-6HH .frame-513-SM9 .frame-7-Ux3 {
  width: 16.1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040f16;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
  opacity: 0.8;
  transition: 1s;
}

.item--uTq .auto-group-uebm-PP1 .frame-379-smu .auto-group-t7tf-J6X .auto-group-oplp-6HH .frame-513-SM9 .frame-7-Ux3:hover{
    opacity: 3;
}



.item--uTq .auto-group-uebm-PP1 .frame-380-Ywu {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding-right: 5rem;
  width: 100%;
  height: 26.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(4, 15, 22, 0.1000000015);
  background-color: #fafafa;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-380-Ywu .frame-391-4vF {
  margin-right: 2.6rem;
  width: 37.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: 135.6% 129.885%;
  background-position: -6.625rem 0;
  background-image: url('/../assets/frame-391-bg.png');
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-380-Ywu .frame-391-4vF .frame-391-4vF-bg {
  width: 37.5rem;
  height: 26.1rem;
  position: relative;
}
.item--uTq .auto-group-uebm-PP1 .frame-380-Ywu .auto-group-qcps-YaX {
  margin: 3.2rem 0rem 4rem 0rem;
  width: 110.5rem;
  height: calc(100% - 7.2rem);
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-380-Ywu .auto-group-qcps-YaX .item--rr7 {
  margin: 0rem 0rem 6.3rem 2.2rem;
  max-width: 79.7rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
}
.item--uTq .auto-group-uebm-PP1 .frame-380-Ywu .auto-group-qcps-YaX .auto-group-3fyf-yZM {
  width: 100%;
  height: 6.3rem;
}
.item--uTq .auto-group-uebm-PP1 .frame-380-Ywu .auto-group-qcps-YaX .auto-group-3fyf-yZM .frame-513-Kt7 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--uTq .auto-group-uebm-PP1 .frame-380-Ywu .auto-group-qcps-YaX .auto-group-3fyf-yZM .frame-513-Kt7 .frame-387-HK9 {
  margin: 0.45rem 76.1rem 0.397rem 0rem;
  height: calc(100% - 0.8472rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-380-Ywu .auto-group-qcps-YaX .auto-group-3fyf-yZM .frame-513-Kt7 .frame-387-HK9 .auto-group-vvno-yBy {
  margin-right: 1.8148rem;
  width: 12.1852rem;
  height: 100%;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e75d14;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-380-Ywu .auto-group-qcps-YaX .auto-group-3fyf-yZM .frame-513-Kt7 .frame-387-HK9 .item-13-000-qEB {
  margin-top: 0.0472rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  text-decoration-line: line-through;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-380-Ywu .auto-group-qcps-YaX .auto-group-3fyf-yZM .frame-513-Kt7 .frame-7-X71 {
  width: 16.1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040f16;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
  transition: 1s;
  opacity: 0.8;
}

.item--uTq .auto-group-uebm-PP1 .frame-380-Ywu .auto-group-qcps-YaX .auto-group-3fyf-yZM .frame-513-Kt7 .frame-7-X71:hover{
    opacity: 3;
}





.item--uTq .auto-group-uebm-PP1 .frame-381-9u5 {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding-right: 5rem;
  width: 100%;
  height: 26.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(4, 15, 22, 0.1000000015);
  background-color: #fafafa;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-381-9u5 .frame-391-4m9 {
  margin-right: 2.6rem;
  width: 37.5rem;
  height: 26.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-381-9u5 .auto-group-jnnp-PYX {
  margin: 3.2rem 0rem 4rem 0rem;
  width: 110.5rem;
  height: calc(100% - 7.2rem);
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-381-9u5 .auto-group-jnnp-PYX .master-of-surgery-HP1 {
  margin: 0rem 0rem 9.4rem 2.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--uTq .auto-group-uebm-PP1 .frame-381-9u5 .auto-group-jnnp-PYX .auto-group-5clk-Mdm {
  width: 100%;
  height: 6.3rem;
}
.item--uTq .auto-group-uebm-PP1 .frame-381-9u5 .auto-group-jnnp-PYX .auto-group-5clk-Mdm .frame-513-iDR {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--uTq .auto-group-uebm-PP1 .frame-381-9u5 .auto-group-jnnp-PYX .auto-group-5clk-Mdm .frame-513-iDR .frame-387-fuM {
  margin: 0.45rem 76.1rem 0.397rem 0rem;
  height: calc(100% - 0.8472rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-381-9u5 .auto-group-jnnp-PYX .auto-group-5clk-Mdm .frame-513-iDR .frame-387-fuM .auto-group-mjgs-CeP {
  margin-right: 1.8148rem;
  width: 12.1852rem;
  height: 100%;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e75d14;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-381-9u5 .auto-group-jnnp-PYX .auto-group-5clk-Mdm .frame-513-iDR .frame-387-fuM .item-13-000-FsZ {
  margin-top: 0.0472rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  text-decoration-line: line-through;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-381-9u5 .auto-group-jnnp-PYX .auto-group-5clk-Mdm .frame-513-iDR .frame-7-AzX {
  width: 16.1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040f16;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
  opacity: 0.8;
  transition: 1s;
}

.item--uTq .auto-group-uebm-PP1 .frame-381-9u5 .auto-group-jnnp-PYX .auto-group-5clk-Mdm .frame-513-iDR .frame-7-AzX:hover{
    opacity: 3;
}




.item--uTq .auto-group-uebm-PP1 .frame-382-3YX {
  margin-bottom: 18rem;
  box-sizing: border-box;
  padding-right: 5rem;
  width: 100%;
  height: 26.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(4, 15, 22, 0.1000000015);
  background-color: #fafafa;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-382-3YX .frame-391-yBH {
  margin-right: 2.6rem;
  width: 37.5rem;
  height: 26.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-382-3YX .auto-group-ewlk-6mh {
  margin: 3.2rem 0rem 4rem 0rem;
  width: 110.5rem;
  height: calc(100% - 7.2rem);
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-382-3YX .auto-group-ewlk-6mh .master-of-surgery-RJB {
  margin: 0rem 0rem 9.4rem 2.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--uTq .auto-group-uebm-PP1 .frame-382-3YX .auto-group-ewlk-6mh .auto-group-h8cb-6fD {
  width: 100%;
  height: 6.3rem;
}
.item--uTq .auto-group-uebm-PP1 .frame-382-3YX .auto-group-ewlk-6mh .auto-group-h8cb-6fD .frame-513-eAw {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--uTq .auto-group-uebm-PP1 .frame-382-3YX .auto-group-ewlk-6mh .auto-group-h8cb-6fD .frame-513-eAw .frame-387-PuD {
  margin: 0.45rem 76.1rem 0.397rem 0rem;
  height: calc(100% - 0.8472rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-382-3YX .auto-group-ewlk-6mh .auto-group-h8cb-6fD .frame-513-eAw .frame-387-PuD .auto-group-t9g7-867 {
  margin-right: 1.8148rem;
  width: 12.1852rem;
  height: 100%;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e75d14;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-382-3YX .auto-group-ewlk-6mh .auto-group-h8cb-6fD .frame-513-eAw .frame-387-PuD .item-13-000-oCF {
  margin-top: 0.0472rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  text-decoration-line: line-through;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-382-3YX .auto-group-ewlk-6mh .auto-group-h8cb-6fD .frame-513-eAw .frame-7-i4K {
  width: 16.1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040f16;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
  opacity: 0.8;
  transition: 1s;
}

.item--uTq .auto-group-uebm-PP1 .frame-382-3YX .auto-group-ewlk-6mh .auto-group-h8cb-6fD .frame-513-eAw .frame-7-i4:hover{
    opacity: 3;
}



.item--uTq .auto-group-uebm-PP1 .frame-229-xzF {
  box-sizing: border-box;
  padding: 10.4rem 10.4rem 16.8rem 10.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #ece5d8 -0%, rgba(235, 228, 216, 0.6399999857) 100%);
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-229-xzF .item--5JB {
  margin-bottom: 1.9rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.08rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-229-xzF .item--x75 {
  margin-bottom: 7.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-229-xzF .frame-44-D31 {
  box-sizing: border-box;
  padding: 7.7rem 10.7rem 7.6rem 10.4rem;
  width: 100%;
  height: 26.6rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-229-xzF .frame-44-D31 .group-14-LtK {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--uTq .auto-group-uebm-PP1 .frame-229-xzF .frame-44-D31 .group-14-LtK .auto-group-ayp3-6sV {
  width: 43.7rem;
  height: 100%;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-229-xzF .frame-44-D31 .group-14-LtK .auto-group-ayp3-6sV .frame-45-TT9 {
  margin-bottom: 2.6rem;
  box-sizing: border-box;
  padding: 2.2rem 3.2rem 1.8rem 3.2rem;
  width: 43.2rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #f2f2f2;
  border-radius: 1.6rem;
}
.item--uTq .auto-group-uebm-PP1 .frame-229-xzF .frame-44-D31 .group-14-LtK .auto-group-ayp3-6sV .frame-48-KkF {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: flex-end;
}
.item--uTq .auto-group-uebm-PP1 .frame-229-xzF .frame-44-D31 .group-14-LtK .auto-group-ayp3-6sV .frame-48-KkF .frame-47-g51 {
  margin-right: 0.8rem;
  width: 2.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f2f2f2;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-229-xzF .frame-44-D31 .group-14-LtK .auto-group-ayp3-6sV .frame-48-KkF .item--1d5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-229-xzF .frame-44-D31 .group-14-LtK .auto-group-6ghy-G3D {
  box-sizing: border-box;
  padding-left: 2.7rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-229-xzF .frame-44-D31 .group-14-LtK .auto-group-6ghy-G3D .frame-46-1Wb {
  margin: 0rem 3.2rem 5rem 0rem;
  box-sizing: border-box;
  padding: 2.2rem 3.2rem 1.8rem 3.2rem;
  width: 43.2rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #f2f2f2;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--uTq .auto-group-uebm-PP1 .frame-229-xzF .frame-44-D31 .group-14-LtK .auto-group-6ghy-G3D .frame-7-soh {
  width: 20.9rem;
  height: 6.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040f16;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
  opacity: 0.8;
  transition: 1s;
}

.item--uTq .auto-group-uebm-PP1 .frame-229-xzF .frame-44-D31 .group-14-LtK .auto-group-6ghy-G3D .frame-7-soh:hover{
    opacity: 3;
}


.item--uTq .frame-245-V4P {
  box-sizing: border-box;
  padding: 3.3rem 26rem 3.2rem 27.8rem;
  width: 100%;
  height: 32.1rem;
  background: linear-gradient(90deg, #040f16 0%, rgba(4, 15, 22, 0.9200000167) 100%);
  border-radius: 3.2rem 3.2rem 0 0;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ {
  margin-right: 52.1rem;
  width: 61.1rem;
  height: 100%;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-192-uto {
  margin-bottom: 5.1525rem;
  width: 100%;
  height: 16rem;
  display: flex;
  align-items: flex-start;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-192-uto .frame-505-Fxf {
  margin-right: 5.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-192-uto .frame-505-Fxf .item--DPh {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-192-uto .frame-505-Fxf .frame-506-W7u {
  row-gap: 0.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-192-uto .frame-505-Fxf .frame-506-W7u .item--qvs {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-192-uto .frame-505-Fxf .frame-506-W7u .item--mJj {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-192-uto .frame-505-Fxf .frame-506-W7u .item--ssZ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-192-uto .frame-507-zBV {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-192-uto .frame-507-zBV .item--YTu {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-192-uto .frame-507-zBV .frame-508-2dy {
  row-gap: 0.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-192-uto .frame-507-zBV .frame-508-2dy .item--B15 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-192-uto .frame-507-zBV .frame-508-2dy .item--79d {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-192-uto .frame-507-zBV .frame-508-2dy .item--Ezw {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-192-uto .frame-507-zBV .frame-508-2dy .item--wuM {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-502-fqM {
  margin-right: 19.9rem;
  width: calc(100% - 19.9rem);
  display: flex;
  align-items: flex-end;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-502-fqM .frame-182-pCT {
  margin: 0rem 2.4rem 0.1rem 0rem;
  width: 7.2001rem;
  height: 4.3475rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-509-xyZ .frame-502-fqM .grace-2023-8U3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-503-SUj {
  width: 25rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-503-SUj .frame-510-Bx7 {
  margin-bottom: 12.8rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-503-SUj .frame-510-Bx7 .item--La7 {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-503-SUj .frame-510-Bx7 .item-8-800-555-35-35-Qps {
  margin-right: 1.7rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-503-SUj .frame-509-iKm {
  margin: 0rem 1.7rem 0rem 4.3rem;
  box-sizing: border-box;
  padding: 1.2rem 2.4rem 1.1rem 2.4rem;
  width: calc(100% - 6rem);
  height: 4.3rem;
  border: solid 0.1rem rgba(189, 194, 191, 0.5);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-503-SUj .frame-509-iKm .frame-321-RV5 {
  width: 100%;
  height: 100%;
  position: relative;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-503-SUj .frame-509-iKm .frame-321-RV5 .item--BUF {
  width: 8.5rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.365;
  letter-spacing: 0.028rem;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.item--uTq .frame-245-V4P .frame-504-oqm .frame-503-SUj .frame-509-iKm .frame-321-RV5 .logo-53q {
  width: 6.2rem;
  height: 1.425rem;
  position: absolute;
  left: 8rem;
  top: 0.225rem;
  object-fit: contain;
  vertical-align: top;
}
