
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--P63 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--P63 .frame-498-Sa7 {
  margin: 0rem 18.2rem 18rem 18.2rem;
  width: calc(100% - 36.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .menu-9UX {
  margin-bottom: 7.15rem;
  box-sizing: border-box;
  padding-top: 2.075rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .menu-9UX .menu-gjM {
  margin-bottom: 7.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .menu-9UX .menu-gjM .frame-53-DzB {
  margin-right: 58.8166rem;
  width: 14rem;
  height: 6.4rem;
  position: relative;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .menu-9UX .menu-gjM .frame-53-DzB .menu-xB5 {
  width: 1.55rem;
  height: 1.0036rem;
  position: absolute;
  left: 2.425rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item--P63 .frame-498-Sa7 .menu-9UX .menu-gjM .frame-53-DzB .rectangle-12-soq {
  width: 14rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem rgba(4, 15, 22, 0.200000003);
  box-sizing: border-box;
  border-radius: 3.2rem;
}
.item--P63 .frame-498-Sa7 .menu-9UX .menu-gjM .frame-53-DzB .item--PGP {
  width: 6.2rem;
  height: 2.4rem;
  position: absolute;
  left: 5.6rem;
  top: 1.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--P63 .frame-498-Sa7 .menu-9UX .menu-gjM .frame-203-Ris {
  margin: 0rem 34.117rem 0.712rem 0rem;
  width: 9.9668rem;
  height: 6.2127rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .menu-9UX .menu-gjM .frame-244-995 {
  height: 6.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .menu-9UX .menu-gjM .frame-244-995 .item-8-800-555-35-35-g91 {
  margin-right: 3.2rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .menu-9UX .menu-gjM .frame-244-995 .frame-7-mgF {
  width: 20.9rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e75d14;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
  opacity: 0.8;
  transition: 1s;
}

.item--P63 .frame-498-Sa7 .menu-9UX .menu-gjM .frame-244-995 .frame-7-mgF:hover{
    opacity: 3;
}

.item--P63 .frame-498-Sa7 .menu-9UX .item--diT {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .menu-9UX .item--diT .item--bHu {
  margin: 0.05rem 1.5rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .menu-9UX .item--diT .right-arrow-tH1 {
  margin: 0rem 2.8rem 0.05rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .menu-9UX .item--diT .item--o95 {
  margin-top: 0.05rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .menu-9UX .item--diT .right-arrow-6P5 {
  margin: 0rem 2.8rem 0.05rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .menu-9UX .item--diT .item--DCo {
  margin: 0.05rem 1.4rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .menu-9UX .item--diT .right-arrow-htf {
  margin: 0rem 2.8rem 0.05rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .menu-9UX .item--diT .item--Qo5 {
  margin-top: 0.05rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq {
  margin-bottom: 18rem;
  width: 100%;
  height: 112rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 4rem 1.5rem 5.6rem 3.2rem;
  width: 124rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem rgba(4, 15, 22, 0.200000003);
  background-color: #ffffff;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 43.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV .frame-356-zuh {
  margin-right: 2.4rem;
  width: 45rem;
  height: 43.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV .frame-457-iKu {
  margin: 6.35rem 0rem 6.05rem 0rem;
  width: 71.9rem;
  height: calc(100% - 12.4rem);
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV .frame-457-iKu .frame-452-pdq {
  margin-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV .frame-457-iKu .frame-452-pdq .item--a7D {
  margin-bottom: 2.4rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.08rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV .frame-457-iKu .frame-452-pdq .frame-458-Dvs {
  margin-right: 21.4rem;
  width: calc(100% - 21.4rem);
  height: 5.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV .frame-457-iKu .frame-452-pdq .frame-458-Dvs .frame-14-MnB {
  width: 12.1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #040f16;
  box-sizing: border-box;
  border-radius: 5rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV .frame-457-iKu .frame-452-pdq .frame-458-Dvs .auto-group-i1xx-S2w {
  box-sizing: border-box;
  padding: 1.45rem 0rem 1.35rem 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV .frame-457-iKu .frame-452-pdq .frame-458-Dvs .auto-group-i1xx-S2w .frame-295-9xw {
  margin-right: 2.1rem;
  width: 18.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV .frame-457-iKu .frame-452-pdq .frame-458-Dvs .auto-group-i1xx-S2w .frame-295-9xw .item--J59 {
  width: 12.4rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #0e1c36;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV .frame-457-iKu .frame-452-pdq .frame-458-Dvs .auto-group-i1xx-S2w .frame-295-9xw .item-32--ZWs {
  width: 6rem;
  height: 2rem;
  position: absolute;
  left: 12.1rem;
  top: 0.15rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #0e1c36;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV .frame-457-iKu .frame-452-pdq .frame-458-Dvs .auto-group-i1xx-S2w .frame-296-3wq {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV .frame-457-iKu .frame-452-pdq .frame-458-Dvs .auto-group-i1xx-S2w .frame-296-3wq .item--byM {
  margin-right: 0.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #0e1c36;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV .frame-457-iKu .frame-452-pdq .frame-458-Dvs .auto-group-i1xx-S2w .frame-296-3wq .item--vEw {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #0e1c36;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-454-roV .frame-457-iKu .item--7qD {
  max-width: 70.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: NT Somic, 'Source Sans Pro';
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV {
  margin-right: 1.7rem;
  box-sizing: border-box;
  padding: 6.4rem 0rem 7.3rem 5.6rem;
  width: 117.6rem;
  overflow: hidden;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .item--agB {
  margin-bottom: 4.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw {
  width: 112.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--2HH {
  margin-bottom: 3.9rem;
  width: 100%;
  height: 5.4rem;
  border-bottom: solid 0.1rem #040f16;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--2HH .frame-394-MKZ {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 3.2rem;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--2HH .frame-394-MKZ .frame-396-Hj1 {
  width: 16.6rem;
  height: 2.9rem;
  display: flex;
  align-items: center;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--2HH .frame-394-MKZ .frame-396-Hj1 .item-1-3CP {
  margin-right: 2.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  text-transform: uppercase;
  color: #000000;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--2HH .frame-394-MKZ .frame-396-Hj1 .item--9mD {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--Enf {
  margin-bottom: 3.9rem;
  width: 100%;
  height: 5.4rem;
  border-bottom: solid 0.1rem #040f16;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--Enf .frame-394-z19 {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 3.2rem;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--Enf .frame-394-z19 .frame-396-XFy {
  width: 32.2rem;
  height: 2.9rem;
  display: flex;
  align-items: center;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--Enf .frame-394-z19 .frame-396-XFy .item-1-fd5 {
  margin-right: 2.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  text-transform: uppercase;
  color: #000000;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--Enf .frame-394-z19 .frame-396-XFy .item--ytf {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--FbH {
  margin-bottom: 3.9rem;
  width: 100%;
  height: 5.4rem;
  border-bottom: solid 0.1rem #040f16;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--FbH .frame-394-a7m {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 3.2rem;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--FbH .frame-394-a7m .frame-396-uvj {
  width: 33.7rem;
  height: 2.9rem;
  display: flex;
  align-items: center;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--FbH .frame-394-a7m .frame-396-uvj .item-1-Fjh {
  margin-right: 2.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  text-transform: uppercase;
  color: #000000;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--FbH .frame-394-a7m .frame-396-uvj .item--yvb {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--SpB {
  width: 100%;
  height: 5.4rem;
  border-bottom: solid 0.1rem #040f16;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--SpB .frame-394-zao {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 3.2rem;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--SpB .frame-394-zao .frame-396-Y6X {
  width: 20.8rem;
  height: 2.9rem;
  display: flex;
  align-items: center;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--SpB .frame-394-zao .frame-396-Y6X .item-1-5cF {
  margin-right: 2.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  text-transform: uppercase;
  color: #000000;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-455-Mbq .frame-389-GfV .frame-399-5cw .item--SpB .frame-394-zao .frame-396-Y6X .item--DCf {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-459-2fu {
  box-sizing: border-box;
  padding-top: 3.9rem;
  width: 29.2rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-459-2fu .frame-461-My5 {
  margin: 0rem 7rem 4rem 5.8rem;
  width: calc(100% - 12.8rem);
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-459-2fu .frame-461-My5 .frame-371-gVZ {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-459-2fu .frame-461-My5 .frame-371-gVZ .item--qNT {
  margin-right: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-459-2fu .frame-461-My5 .frame-371-gVZ .item-7-000--wgP {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-459-2fu .frame-460-roM {
  width: 100%;
  height: 6.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040f16;
  flex-shrink: 0;
  text-decoration: none;
  opacity: 0.8 ;
  transition: 1s;
}

.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-497-dfq .frame-459-2fu .frame-460-roM:hover{
    opacity: 3;
}

.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .item--syM {
  margin-bottom: 7.1rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R {
  width: 100%;
  row-gap: 2.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-379-Jom {
  box-sizing: border-box;
  padding-right: 5rem;
  width: 100%;
  height: 26.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(4, 15, 22, 0.1000000015);
  background-color: #fafafa;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-379-Jom .frame-391-qYo {
  margin-right: 2.6rem;
  width: 37.5rem;
  height: 26.1rem;
  position: relative;
  background-size: 135.6% 129.885%;
  background-position: -6.625rem 0;
  background-image: url('/../assets/frame-391-mVd.png');
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-379-Jom .auto-group-yppv-j8P {
  margin: 3.2rem 0rem 4rem 0rem;
  width: 110.5rem;
  height: calc(100% - 7.2rem);
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-379-Jom .auto-group-yppv-j8P .master-of-surgery-2tB {
  margin: 0rem 0rem 9.4rem 2.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-379-Jom .auto-group-yppv-j8P .auto-group-lggb-JKu {
  width: 100%;
  height: 6.3rem;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-379-Jom .auto-group-yppv-j8P .auto-group-lggb-JKu .frame-513-qKq {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-379-Jom .auto-group-yppv-j8P .auto-group-lggb-JKu .frame-513-qKq .frame-387-CAP {
  margin: 0.45rem 76.1rem 0.397rem 0rem;
  height: calc(100% - 0.8472rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-379-Jom .auto-group-yppv-j8P .auto-group-lggb-JKu .frame-513-qKq .frame-387-CAP .auto-group-akps-vMH {
  margin-right: 1.8148rem;
  width: 12.1852rem;
  height: 100%;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e75d14;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-379-Jom .auto-group-yppv-j8P .auto-group-lggb-JKu .frame-513-qKq .frame-387-CAP .item-13-000-zM9 {
  margin-top: 0.0472rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  text-decoration-line: line-through;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-379-Jom .auto-group-yppv-j8P .auto-group-lggb-JKu .frame-513-qKq .frame-7-txK {
  width: 16.1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040f16;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
  transition: 1s;
  opacity: 0.8;
}

.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-379-Jom .auto-group-yppv-j8P .auto-group-lggb-JKu .frame-513-qKq .frame-7-txK:hover{
    opacity: 3;
}


.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-380-Mb1 {
  box-sizing: border-box;
  padding-right: 5rem;
  width: 100%;
  height: 26.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(4, 15, 22, 0.1000000015);
  background-color: #fafafa;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-380-Mb1 .frame-391-HzT {
  margin-right: 2.6rem;
  width: 37.5rem;
  height: 26.1rem;
  position: relative;
  background-size: 135.6% 129.885%;
  background-position: -6.625rem 0;
  background-image: url('/../assets/frame-391-m4f.png');
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-380-Mb1 .auto-group-dmj3-mud {
  margin: 3.2rem 0rem 4rem 0rem;
  width: 110.5rem;
  height: calc(100% - 7.2rem);
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-380-Mb1 .auto-group-dmj3-mud .master-of-surgery-J8s {
  margin: 0rem 0rem 9.4rem 2.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-380-Mb1 .auto-group-dmj3-mud .auto-group-jhgp-aMH {
  width: 100%;
  height: 6.3rem;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-380-Mb1 .auto-group-dmj3-mud .auto-group-jhgp-aMH .frame-513-iiP {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-380-Mb1 .auto-group-dmj3-mud .auto-group-jhgp-aMH .frame-513-iiP .frame-387-539 {
  margin: 0.45rem 76.1rem 0.397rem 0rem;
  height: calc(100% - 0.8472rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-380-Mb1 .auto-group-dmj3-mud .auto-group-jhgp-aMH .frame-513-iiP .frame-387-539 .auto-group-qxg3-C7m {
  margin-right: 1.8148rem;
  width: 12.1852rem;
  height: 100%;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e75d14;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-380-Mb1 .auto-group-dmj3-mud .auto-group-jhgp-aMH .frame-513-iiP .frame-387-539 .item-13-000-Frj {
  margin-top: 0.0472rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  text-decoration-line: line-through;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-380-Mb1 .auto-group-dmj3-mud .auto-group-jhgp-aMH .frame-513-iiP .frame-7-yGw {
  width: 16.1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040f16;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
  transition: 1s;
  opacity: 0.8;
}

.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-380-Mb1 .auto-group-dmj3-mud .auto-group-jhgp-aMH .frame-513-iiP .frame-7-yGw:hover{
    opacity: 3;
}


.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-381-pHZ {
  box-sizing: border-box;
  padding-right: 5rem;
  width: 100%;
  height: 26.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(4, 15, 22, 0.1000000015);
  background-color: #fafafa;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-381-pHZ .frame-391-YjM {
  margin-right: 2.6rem;
  width: 37.5rem;
  height: 26.1rem;
  position: relative;
  background-size: 135.6% 129.885%;
  background-position: -6.625rem 0;
  background-image: url('/../assets/frame-391-4ou.png');
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-381-pHZ .auto-group-feyk-3g7 {
  margin: 3.2rem 0rem 4rem 0rem;
  width: 110.5rem;
  height: calc(100% - 7.2rem);
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-381-pHZ .auto-group-feyk-3g7 .master-of-surgery-aAF {
  margin: 0rem 0rem 9.4rem 2.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-381-pHZ .auto-group-feyk-3g7 .auto-group-s7s1-FXH {
  width: 100%;
  height: 6.3rem;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-381-pHZ .auto-group-feyk-3g7 .auto-group-s7s1-FXH .frame-513-bb9 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-381-pHZ .auto-group-feyk-3g7 .auto-group-s7s1-FXH .frame-513-bb9 .frame-387-A8T {
  margin: 0.45rem 76.1rem 0.397rem 0rem;
  height: calc(100% - 0.8472rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-381-pHZ .auto-group-feyk-3g7 .auto-group-s7s1-FXH .frame-513-bb9 .frame-387-A8T .auto-group-hcsp-VAj {
  margin-right: 1.8148rem;
  width: 12.1852rem;
  height: 100%;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e75d14;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-381-pHZ .auto-group-feyk-3g7 .auto-group-s7s1-FXH .frame-513-bb9 .frame-387-A8T .item-13-000-V4F {
  margin-top: 0.0472rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  text-decoration-line: line-through;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-381-pHZ .auto-group-feyk-3g7 .auto-group-s7s1-FXH .frame-513-bb9 .frame-7-np3 {
  width: 16.1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040f16;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
  transition: 1s;
  opacity: 0.8;
}

.item--P63 .frame-498-Sa7 .frame-501-5PR .frame-500-8Vy .frame-499-N9R .frame-381-pHZ .auto-group-feyk-3g7 .auto-group-s7s1-FXH .frame-513-bb9 .frame-7-np3:hover{
    opacity: 3;
}




.item--P63 .frame-245-EAF {
  box-sizing: border-box;
  padding: 3.3rem 26rem 3.2rem 27.8rem;
  width: 100%;
  height: 32.1rem;
  background: linear-gradient(90deg, #040f16 0%, rgba(4, 15, 22, 0.9200000167) 100%);
  border-radius: 3.2rem 3.2rem 0 0;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT {
  margin-right: 52.1rem;
  width: 61.1rem;
  height: 100%;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-192-2ro {
  margin-bottom: 5.1525rem;
  width: 100%;
  height: 16rem;
  display: flex;
  align-items: flex-start;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-192-2ro .frame-505-kXu {
  margin-right: 5.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-192-2ro .frame-505-kXu .item--uQo {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-192-2ro .frame-505-kXu .frame-506-mhu {
  row-gap: 0.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-192-2ro .frame-505-kXu .frame-506-mhu .item--hbZ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-192-2ro .frame-505-kXu .frame-506-mhu .item--pAP {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-192-2ro .frame-505-kXu .frame-506-mhu .item--vjD {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-192-2ro .frame-507-oo1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-192-2ro .frame-507-oo1 .item--YEo {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-192-2ro .frame-507-oo1 .frame-508-axB {
  row-gap: 0.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-192-2ro .frame-507-oo1 .frame-508-axB .item--iYb {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-192-2ro .frame-507-oo1 .frame-508-axB .item--dfZ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-192-2ro .frame-507-oo1 .frame-508-axB .item--MrT {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-192-2ro .frame-507-oo1 .frame-508-axB .item--63M {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-502-oyM {
  margin-right: 19.9rem;
  width: calc(100% - 19.9rem);
  display: flex;
  align-items: flex-end;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-502-oyM .frame-182-9GX {
  margin: 0rem 2.4rem 0.1rem 0rem;
  width: 7.2001rem;
  height: 4.3475rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-509-6CT .frame-502-oyM .grace-2023-4PV {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-503-mHu {
  width: 25rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-503-mHu .frame-510-uf1 {
  margin-bottom: 12.8rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-503-mHu .frame-510-uf1 .item--raF {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-503-mHu .frame-510-uf1 .item-8-800-555-35-35-XgP {
  margin-right: 1.7rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-503-mHu .frame-509-EKu {
  margin: 0rem 1.7rem 0rem 4.3rem;
  box-sizing: border-box;
  padding: 1.2rem 2.4rem 1.1rem 2.4rem;
  width: calc(100% - 6rem);
  height: 4.3rem;
  border: solid 0.1rem rgba(189, 194, 191, 0.5);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-503-mHu .frame-509-EKu .frame-321-jGf {
  width: 100%;
  height: 100%;
  position: relative;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-503-mHu .frame-509-EKu .frame-321-jGf .item--VWj {
  width: 8.5rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.365;
  letter-spacing: 0.028rem;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.item--P63 .frame-245-EAF .frame-504-LUB .frame-503-mHu .frame-509-EKu .frame-321-jGf .logo-NaX {
  width: 6.2rem;
  height: 1.425rem;
  position: absolute;
  left: 8rem;
  top: 0.225rem;
  object-fit: contain;
  vertical-align: top;
}
.item--P63 .item-8-800-555-35-35-msZ {
  margin-right: 15.9rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.06rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}


.offcanvas-body a{
  font-size: 30px;
  margin-top: 50px;
}


.frame-506-mhu a{
  cursor: pointer;
}


.frame-508-axB a{
  cursor: pointer;
}