<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Страница платного ролика</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=NT+Somic%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope%3A600"/>
  <link rel="stylesheet" href="paid-roliks.component.scss"/>
</head>
<body>
<div class="item--P63">
  <div class="frame-498-Sa7">
    <div class="menu-9UX">
      <div class="menu-gjM">
        <div class="frame-53-DzB">
          <img class="menu-xB5" src="/../assets/menu-rm1.png" />

          <button class="navbar-toggler rectangle-12-soq" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class=" nav-item">
                  <a class="main-str main-font nav-link active" aria-current="page" href="#">Главная страница</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click) = "goto_vse_kursi()">Все курсы</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click) = "goto_ochniy_kurs()">Страница очного курса</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click) = "goto_onlayn_kurs()">Страница онлайн курса</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click) = "goto_obuch_roliki()">Бесплатные учебные материалы</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click) = "goto_str_stati()">Страница статьи</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click) = "goto_paid_roliks()">Страница платного ролика</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click) = "goto_O_Nas()">О нас</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" (click) = "goto_Otzivi()">Отзывы</a>
                </li>
              </ul>
            </div>
          </div>
          <p class="item--PGP">Меню</p>
        </div>
        <img class="frame-203-Ris" src="/../assets/frame-203-ekB.png"/>
        <div class="frame-244-995">
          <p class="item-8-800-555-35-35-g91">8 (800) 555 35 35</p>
          <a href="#" class="frame-7-mgF">Отправить заявку</a>
        </div>
      </div>
      <div class="item--diT">
        <p class="item--bHu">Главная</p>
        <img class="right-arrow-tH1" src="/../assets/right-arrow-cB5.png"/>
        <p class="item--o95">Обучающие ролики</p>
        <img class="right-arrow-6P5" src="/../assets/right-arrow-BRm.png"/>
        <p class="item--DCo">Хирургия</p>
        <img class="right-arrow-htf" src="/../assets/right-arrow-tMy.png"/>
        <p class="item--Qo5">Обучающий ролик: «Виды швов»</p>
      </div>
    </div>
    <div class="frame-501-5PR">
      <div class="frame-497-dfq">
        <div class="frame-455-Mbq">
          <div class="frame-454-roV">
            <img class="frame-356-zuh" src="/../assets/frame-356-Ko1.png"/>
            <div class="frame-457-iKu">
              <div class="frame-452-pdq">
                <p class="item--a7D">Обучающий ролик: «Виды швов»</p>
                <div class="frame-458-Dvs">
                  <div class="frame-14-MnB">Хирургия</div>
                  <div class="auto-group-i1xx-S2w">
                    <div class="frame-295-9xw">
                      <p class="item--J59">Длительность:</p>
                      <p class="item-32--ZWs">32 мин.</p>
                    </div>
                    <div class="frame-296-3wq">
                      <p class="item--byM">Уровень:</p>
                      <p class="item--vEw">Средний</p>
                    </div>
                  </div>
                </div>
              </div>
              <p class="item--7qD">Вы узнаете о различных типах швов, которые используются при проведении хирургических вмешательств в полости рта. В ролике будут рассмотрены особенности каждого типа шва, их применение в зависимости от характеристик тканей и места операции. Также будет рассказано о технике нанесения швов и правильном уходе за ними после операции. Это видео может быть полезным для студентов стоматологических факультетов, а также для практикующих стоматологов, которые желают расширить свой кругозор и улучшить свои навыки.</p>
            </div>
          </div>
          <div class="frame-389-GfV">
            <p class="item--agB">Содержание ролика</p>
            <div class="frame-399-5cw">
              <div class="item--2HH">
                <div class="frame-394-MKZ">
                  <div class="frame-396-Hj1">
                    <p class="item-1-3CP">1</p>
                    <p class="item--9mD">Узловой шов</p>
                  </div>
                </div>
              </div>
              <div class="item--Enf">
                <div class="frame-394-z19">
                  <div class="frame-396-XFy">
                    <p class="item-1-fd5">2</p>
                    <p class="item--ytf">Простой непрерывный шов</p>
                  </div>
                </div>
              </div>
              <div class="item--FbH">
                <div class="frame-394-a7m">
                  <div class="frame-396-uvj">
                    <p class="item-1-Fjh">3</p>
                    <p class="item--yvb">Непрерывный обвивной шов</p>
                  </div>
                </div>
              </div>
              <div class="item--SpB">
                <div class="frame-394-zao">
                  <div class="frame-396-Y6X">
                    <p class="item-1-5cF">4</p>
                    <p class="item--DCf">Матрацный шов</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-459-2fu">
          <div class="frame-461-My5">
            <div class="frame-371-gVZ">
              <p class="item--qNT">Стоимость:</p>
              <p class="item-7-000--wgP">7 000 ₽</p>
            </div>
          </div>
          <a href="#" class="frame-460-roM">Оставить заявку</a>
        </div>
      </div>
      <div class="frame-500-8Vy">
        <p class="item--syM">Другие видеоролики</p>
        <div class="frame-499-N9R">
          <div class="frame-379-Jom">
            <div class="frame-391-qYo">
            </div>
            <div class="auto-group-yppv-j8P">
              <p class="master-of-surgery-2tB">Онлайн курс по имплантации «Master of Surgery»</p>
              <div class="auto-group-lggb-JKu">
                <div class="frame-513-qKq">
                  <div class="frame-387-CAP">
                    <div class="auto-group-akps-vMH">7 000 ₽</div>
                    <p class="item-13-000-zM9">13 000</p>
                  </div>
                  <a href="#" class="frame-7-txK">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-380-Mb1">
            <div class="frame-391-HzT">
            </div>
            <div class="auto-group-dmj3-mud">
              <p class="master-of-surgery-J8s">Онлайн курс по имплантации «Master of Surgery»</p>
              <div class="auto-group-jhgp-aMH">
                <div class="frame-513-iiP">
                  <div class="frame-387-539">
                    <div class="auto-group-qxg3-C7m">7 000 ₽</div>
                    <p class="item-13-000-Frj">13 000</p>
                  </div>
                  <a href="#" class="frame-7-yGw">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-381-pHZ">
            <div class="frame-391-YjM">
            </div>
            <div class="auto-group-feyk-3g7">
              <p class="master-of-surgery-aAF">Онлайн курс по имплантации «Master of Surgery»</p>
              <div class="auto-group-s7s1-FXH">
                <div class="frame-513-bb9">
                  <div class="frame-387-A8T">
                    <div class="auto-group-hcsp-VAj">7 000 ₽</div>
                    <p class="item-13-000-V4F">13 000</p>
                  </div>
                  <a href="#" class="frame-7-np3">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-245-EAF">
    <div class="frame-504-LUB">
      <div class="frame-509-6CT">
        <div class="frame-192-2ro">
          <div class="frame-505-kXu">
            <p class="item--uQo">Платные материалы</p>
            <div class="frame-506-mhu">
              <a (click) = "goto_onlayn_kurs()" class="item--hbZ">Онлайн курсы</a>
              <a (click) = "goto_ochniy_kurs()" href="#" class="item--pAP">Очные курсы</a>
              <a (click) = "goto_obuch_roliki()" class="item--vjD">Видео ролики</a>
            </div>
          </div>
          <div class="frame-507-oo1">
            <p class="item--YEo">Об учебном центре</p>
            <div class="frame-508-axB">
              <a (click) = "goto_O_Nas()" class="item--iYb">О нас</a>
              <a (click) = "goto_Otzivi()" class="item--dfZ">Отзывы</a>
              <a (click) = "goto_obuch_roliki()" class="item--63M">Бесплатно</a>
            </div>
          </div>
        </div>
        <div class="frame-502-oyM">
          <img class="frame-182-9GX" src="/../assets/frame-182-CWF.png"/>
          <p class="grace-2023-4PV">© Образовательный центр «Grace», 2023</p>
        </div>
      </div>
      <div class="frame-503-mHu">
        <div class="frame-510-uf1">
          <p class="item--raF">Номер телефона для справок:</p>
          <p class="item-8-800-555-35-35-XgP">8 (800) 555 35 35</p>
        </div>
        <div class="frame-509-EKu">
          <div class="frame-321-jGf">
            <p class="item--VWj">Сделано в</p>
            <img class="logo-NaX" src="/../assets/logo-CEF.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>