<!-- O nas -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>О нас</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=NT+Somic%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope%3A600"/>
  <link rel="stylesheet" href="o-nas.component.scss"/>
</head>
<body>
<div class="item--ocF">
  <div class="frame-406-ufH">
    <div class="frame-355-Dfy">
      <div class="frame-204-MXH">
        <!-- <div class="frame-53-VdV">
            <img class="menu-pQs" src="/../assets/menu-rm1.png" />
  
            <button class="navbar-toggler rectangle-12-wkP" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
              aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class=" nav-item">
                    <a class="main-str main-font nav-link active" aria-current="page" href="#">Главная страница</a>
                  </li>
                  <li class="nav-item">
                    <a class="raznica-str main-font nav-link" href="#">Все курсы</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="raznica-str main-font nav-link" href="#">Страница очного курса</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="raznica-str main-font nav-link" href="#">Страница онлайн курса</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="raznica-str main-font nav-link" href="#">Бесплатные учебные материалы</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="raznica-str main-font nav-link" href="#">Страница статьи</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="raznica-str main-font nav-link" href="#">Страница платного ролика</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="raznica-str main-font nav-link" href="#">О нас</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="otziv nav-link" href="#">Отзывы</a>
                  </li>
                </ul>
              </div>
            </div>
            <p class="item--qas">Меню</p>
        </div> -->
        <div class="frame-53-VdV">
          <img class="menu-pQs" src="/../assets/menu-rm1.png" />
  
          <button class="navbar-toggler rectangle-12-wkP" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class=" nav-item">
                  <a class="main-str main-font nav-link active" aria-current="page" href="#">Главная страница</a>
                </li>
                <li class="nav-item">
                  <a class="raznica-str main-font nav-link" (click) = "goto_vse_kursi()">Все курсы</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" (click) = "goto_ochniy_kurs()">Страница очного курса</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" (click) = "goto_onlayn_kurs()">Страница онлайн курса</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" (click) = "goto_obuch_roliki()">Бесплатные учебные материалы</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" (click) = "goto_str_stati()" style="cursor: pointer;">Страница статьи</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" (click) = "goto_paid_roliks()">Страница платного ролика</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="raznica-str main-font nav-link" (click) = "goto_O_Nas()">О нас</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="otziv nav-link" (click) = "goto_Otzivi()">Отзывы</a>
                </li>
              </ul>
            </div>
          </div>
          <p class="item--qas">Меню</p>
        </div>
        <img class="frame-203-VQX" src="/../assets/frame-203-82o.png"/>
        <div class="frame-244-og7">
          <p class="item-8-800-555-35-35-kLT">8 (800) 555 35 35</p>
          <a href="#" class="frame-7-FHD">Отправить заявку</a>
        </div>
      </div>
      <div class="frame-286-vPM">
        <p class="item--5GF">Главная</p>
        <img class="right-arrow-y6j" src="/../assets/right-arrow-veF.png"/>
        <p class="item--UpB">О нас</p>
      </div>
    </div>
    <div class="auto-group-beub-ByV">
      <p class="item--vgB">О нас</p>
      <div class="frame-493-Cdh">
        <div class="frame-480-uY7">
          <div class="frame-476-riF">
            <p class="grace--maK">Учебный стоматологический центр Grace — это место, где вы можете получить образование и опыт, необходимые для достижения успеха в стоматологической индустрии.</p>
          </div>
          <div class="auto-group-gaaw-TrT">
            <div class="frame-481-cDZ">
              <img class="dental-community-home-iti-0-2-Vo9" src="/../assets/dental-community-home-iti-0-2.png"/>
              <div class="frame-483-oJ3">
                <p class="iti--8r7">Курсы проводит член международной команды имплантологов «ITI», специалист в области эстетической и хирургической стоматологии</p>
                <div class="frame-482-Y99">
                  <p class="item--U2o">Магомедов Али А.</p>
                  <div class="group-30-9Pq">
                    <img class="vector-Hkw" src="/../assets/vector-dsR.png"/>
                    <img class="vector-RMM" src="/../assets/vector.png"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="photo2023-08-2021-45-28upscayl4xrealesrgan-x4plusnoback-1-2-7zs">
            </div>
          </div>
        </div>
        <div class="frame-484-m3q">
          <img class="vector-1-Wn7" src="/../assets/vector-1-qdm.png"/>
          <div class="frame-486-dbq">
            <p class="item--Lm9">Мы предлагаем широкий спектр курсов и программ, которые помогут расширить свои знания и навыки в области стоматологии</p>
            <div class="frame-485-2Gb">
              <a class="frame-7-ZGX" (click) = "goto_onlayn_kurs()">Онлайн курсы</a>
              <a class="frame-8-yLF" (click) = "goto_ochniy_kurs()">Очные курсы</a>
              <a class="frame-9-c8K" (click) = "goto_obuch_roliki()">Обучающие ролики</a>
              <a class="frame-10-2xj" (click) = "goto_vse_kursi()">Смотреть все курсы</a>
            </div>
          </div>
        </div>
        <div class="frame-491-5g7">
          <img class="frame-477-q9V" src="/../assets/frame-477.png"/>
          <div class="frame-489-k1Z">
            <div class="frame-494-fuD">
              <p class="grace-2Dy">Учебный центр Grace</p>
              <p class="item--LEf">Мы создали обучающую среду, которая будет стимулировать ваше развитие и поможет вам достичь ваших карьерных целей</p>
              <p class="item--rsD">В нашем учебном центре мы стремимся создать дружественную и поддерживающую атмосферу, где каждый студент может чувствовать себя комфортно и уверенно.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-245-J6w">
    <div class="frame-504-DDu">
      <div class="frame-509-Aew">
        <div class="frame-192-62o">
          <div class="frame-505-pzP">
            <p class="item--nAX">Платные материалы</p>
            <div class="frame-506-FZu">
              <a class="item--npj" (click) = "goto_onlayn_kurs()">Онлайн курсы</a>
              <a class="item--tsm" (click) = "goto_ochniy_kurs()">Очные курсы</a>
              <a class="item--2DH" (click) = "goto_vse_kursi()">Видео ролики</a>
            </div>
          </div>
          <div class="frame-507-jtP">
            <p class="item--uH5">Об учебном центре</p>
            <div class="frame-508-ynj">
              <a (click) = "goto_Otzivi()" class="item--s7R">Отзывы</a>
              <a (click) = "goto_obuch_roliki()" class="item--idq">Бесплатно</a>
            </div>
          </div>
        </div>
        <div class="frame-502-F7y">
          <img class="frame-182-yZm" src="/../assets/frame-182-B1u.png"/>
          <p class="grace-2023-68b">© Образовательный центр «Grace», 2023</p>
        </div>
      </div>
      <div class="frame-503-ChR">
        <div class="frame-510-kD9">
          <p class="item--tq9">Номер телефона для справок:</p>
          <p class="item-8-800-555-35-35-P1D">8 (800) 555 35 35</p>
        </div>
        <div class="frame-509-GKu">
          <div class="frame-321-9uV">
            <p class="item--KJB">Сделано в</p>
            <img class="logo-oz3" src="/../assets/logo-8C3.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>