
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--ocF {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--ocF .frame-406-ufH {
  margin: 0rem 18.2rem 18.4rem 18.2rem;
  width: calc(100% - 36.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .frame-355-Dfy {
  margin-bottom: 6.85rem;
  box-sizing: border-box;
  padding-top: 2.075rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .frame-355-Dfy .frame-204-MXH {
  margin-bottom: 7.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .frame-355-Dfy .frame-204-MXH .frame-53-VdV {
  margin-right: 58.8166rem;
  width: 14rem;
  height: 6.4rem;
  position: relative;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .frame-355-Dfy .frame-204-MXH .frame-53-VdV .menu-pQs {
  width: 1.55rem;
  height: 1.0036rem;
  position: absolute;
  left: 2.425rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item--ocF .frame-406-ufH .frame-355-Dfy .frame-204-MXH .frame-53-VdV .rectangle-12-wkP {
  width: 14rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem rgba(4, 15, 22, 0.200000003);
  box-sizing: border-box;
  border-radius: 3.2rem;
}
.item--ocF .frame-406-ufH .frame-355-Dfy .frame-204-MXH .frame-53-VdV .item--qas {
  width: 6.9rem;
  height: 2.4rem;
  position: absolute;
  left: 5.6rem;
  top: 1.9rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.04rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ocF .frame-406-ufH .frame-355-Dfy .frame-204-MXH .frame-203-VQX {
  margin: 0rem 34.117rem 0.712rem 0rem;
  width: 9.9668rem;
  height: 6.2127rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .frame-355-Dfy .frame-204-MXH .frame-244-og7 {
  margin-bottom: 0.1rem;
  height: 6.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .frame-355-Dfy .frame-204-MXH .frame-244-og7 .item-8-800-555-35-35-kLT {
  margin-right: 3.2rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .frame-355-Dfy .frame-204-MXH .frame-244-og7 .frame-7-FHD {
  box-sizing: border-box;
  padding: 2.2rem 2.5rem 2.1rem 3.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #e75d14;
  border-radius: 5rem;
  flex-shrink: 0;
  text-decoration: none;
  transition: 1s;
  opacity: 0.8;
}

.item--ocF .frame-406-ufH .frame-355-Dfy .frame-204-MXH .frame-244-og7 .frame-7-FHD:hover{
    opacity: 3;
}




.item--ocF .frame-406-ufH .frame-355-Dfy .frame-286-vPM {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .frame-355-Dfy .frame-286-vPM .item--5GF {
  margin: 0.05rem 1.5rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .frame-355-Dfy .frame-286-vPM .right-arrow-y6j {
  margin: 0rem 2.8rem 0.05rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .frame-355-Dfy .frame-286-vPM .item--UpB {
  margin-top: 0.05rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV {
  width: 100%;
  height: 161.1rem;
  position: relative;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .item--vgB {
  width: 15.2rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 1.2000000817;
  letter-spacing: -0.112rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh {
  width: 155.6rem;
  height: 161.1rem;
  position: absolute;
  left: 0;
  top: 0;
  row-gap: 18rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-480-uY7 {
  width: 100%;
  height: 57.3rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-480-uY7 .frame-476-riF {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 24.7rem 5.6rem 5.9rem 5.6rem;
  width: 76.6rem;
  overflow: hidden;
  position: relative;
  background: linear-gradient(0deg, #040f16 0%, rgba(4, 15, 22, 0.3300000131) 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-476-bg.png');
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-480-uY7 .frame-476-riF .grace--maK {
  max-width: 58.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-480-uY7 .auto-group-gaaw-TrT {
  width: 76.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-480-uY7 .auto-group-gaaw-TrT .frame-481-cDZ {
  box-sizing: border-box;
  padding: 9.618rem 5.6rem 9.7rem 5.6rem;
  width: 76.6rem;
  height: 43.1rem;
  position: absolute;
  left: 0;
  top: 14.2rem;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-480-uY7 .auto-group-gaaw-TrT .frame-481-cDZ .dental-community-home-iti-0-2-Vo9 {
  margin: 0rem 0rem 4.188rem 0.021rem;
  width: 14.1732rem;
  height: 4.3945rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-480-uY7 .auto-group-gaaw-TrT .frame-481-cDZ .frame-483-oJ3 {
  width: 35.6rem;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-480-uY7 .auto-group-gaaw-TrT .frame-481-cDZ .frame-483-oJ3 .iti--8r7 {
  margin-bottom: 1.4rem;
  max-width: 35.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-480-uY7 .auto-group-gaaw-TrT .frame-481-cDZ .frame-483-oJ3 .frame-482-Y99 {
  margin-right: 9.2rem;
  width: calc(100% - 9.2rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-480-uY7 .auto-group-gaaw-TrT .frame-481-cDZ .frame-483-oJ3 .frame-482-Y99 .item--U2o {
  margin-right: 0.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-480-uY7 .auto-group-gaaw-TrT .frame-481-cDZ .frame-483-oJ3 .frame-482-Y99 .group-30-9Pq {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-480-uY7 .auto-group-gaaw-TrT .frame-481-cDZ .frame-483-oJ3 .frame-482-Y99 .group-30-9Pq .vector-Hkw {
  margin-right: 0.1459rem;
  width: 7.0203rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-480-uY7 .auto-group-gaaw-TrT .frame-481-cDZ .frame-483-oJ3 .frame-482-Y99 .group-30-9Pq .vector-RMM {
  margin-top: 0.6661rem;
  width: 0.8338rem;
  height: 0.5859rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-480-uY7 .auto-group-gaaw-TrT .photo2023-08-2021-45-28upscayl4xrealesrgan-x4plusnoback-1-2-7zs {
  width: 34.5rem;
  height: 57.3rem;
  position: relative;
  left: 42.1rem;
  top: 0;
  background-size: 124.827% 100%;
  background-position: -4.7271rem 0;
  background-image: url('/../assets/photo2023-08-2021-45-28upscayl4xrealesrgan-x4plusnoback-1-2.png');
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-484-m3q {
  width: 100%;
  height: 24.6rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem rgba(4, 15, 22, 0.200000003);
  box-sizing: border-box;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-484-m3q .vector-1-Wn7 {
  width: 118.2344rem;
  height: 53.3159rem;
  position: absolute;
  left: 4.4rem;
  top: 7.1841rem;
  object-fit: contain;
  vertical-align: top;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-484-m3q .frame-486-dbq {
  width: 144.4rem;
  height: 7.75rem;
  position: absolute;
  left: 5.6rem;
  top: 9.15rem;
  display: flex;
  align-items: flex-start;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-484-m3q .frame-486-dbq .item--Lm9 {
  margin: 0.95rem 6.6rem 0rem 0rem;
  max-width: 51.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-484-m3q .frame-486-dbq .frame-485-2Gb {
  height: 6.3rem;
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-484-m3q .frame-486-dbq .frame-485-2Gb .frame-7-ZGX {
  width: 18.4rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #040f16 0%, rgba(4, 15, 22, 0.3300000131) 81.72%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-7-bg.png');
  border-radius: 5rem;
  flex-shrink: 0;
  cursor: pointer;
  text-decoration: none;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-484-m3q .frame-486-dbq .frame-485-2Gb .frame-8-yLF {
  width: 17.7rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #040f16 0%, rgba(4, 15, 22, 0.3300000131) 81.72%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-8-bg.png');
  border-radius: 5rem;
  flex-shrink: 0;
  cursor: pointer;
  text-decoration: none;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-484-m3q .frame-486-dbq .frame-485-2Gb .frame-9-c8K {
  box-sizing: border-box;
  padding: 2.2rem 0.8rem 2.1rem 3.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(90deg, #040f16 0%, rgba(4, 15, 22, 0.3300000131) 81.72%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../assets/frame-9-bg.png');
  border-radius: 5rem;
  flex-shrink: 0;
  cursor: pointer;
  text-decoration: none;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-484-m3q .frame-486-dbq .frame-485-2Gb .frame-10-2xj {
  width: 23.1rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040f16;
  border-radius: 5rem;
  flex-shrink: 0;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
  transition: 1s;
}

.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-484-m3q .frame-486-dbq .frame-485-2Gb .frame-10-2xj:hover{
    opacity: 3;
}



.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-491-5g7 {
  width: 100%;
  height: 43.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-491-5g7 .frame-477-q9V {
  margin-right: 2.4rem;
  width: 76.6rem;
  height: 43.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-491-5g7 .frame-489-k1Z {
  box-sizing: border-box;
  padding: 9.15rem 19.4rem 9.05rem 19.4rem;
  width: 76.6rem;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 3.2rem;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-491-5g7 .frame-489-k1Z .frame-494-fuD {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-491-5g7 .frame-489-k1Z .frame-494-fuD .grace-2Dy {
  margin-bottom: 2.7rem;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-491-5g7 .frame-489-k1Z .frame-494-fuD .item--LEf {
  margin-bottom: 2.6rem;
  max-width: 37.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: NT Somic, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--ocF .frame-406-ufH .auto-group-beub-ByV .frame-493-Cdh .frame-491-5g7 .frame-489-k1Z .frame-494-fuD .item--rsD {
  max-width: 37.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #000000;
  font-family: NT Somic, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w {
  box-sizing: border-box;
  padding: 3.3rem 26rem 3.2rem 27.8rem;
  width: 100%;
  height: 32.1rem;
  background: linear-gradient(90deg, #040f16 0%, rgba(4, 15, 22, 0.9200000167) 100%);
  border-radius: 3.2rem 3.2rem 0 0;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew {
  margin-right: 52.1rem;
  width: 61.1rem;
  height: 100%;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-192-62o {
  margin-bottom: 5.1525rem;
  width: 100%;
  height: 16rem;
  display: flex;
  align-items: flex-start;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-192-62o .frame-505-pzP {
  margin-right: 5.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-192-62o .frame-505-pzP .item--nAX {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-192-62o .frame-505-pzP .frame-506-FZu {
  row-gap: 0.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-192-62o .frame-505-pzP .frame-506-FZu .item--npj {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
  cursor: pointer;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-192-62o .frame-505-pzP .frame-506-FZu .item--tsm {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
  cursor: pointer;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-192-62o .frame-505-pzP .frame-506-FZu .item--2DH {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
  cursor: pointer;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-192-62o .frame-507-jtP {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-192-62o .frame-507-jtP .item--uH5 {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2999999523;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-192-62o .frame-507-jtP .frame-508-ynj {
  row-gap: 0.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-192-62o .frame-507-jtP .frame-508-ynj .item--jG7 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-192-62o .frame-507-jtP .frame-508-ynj .item--s7R {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-192-62o .frame-507-jtP .frame-508-ynj .item--C9h {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-192-62o .frame-507-jtP .frame-508-ynj .item--idq {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-502-F7y {
  margin-right: 19.9rem;
  width: calc(100% - 19.9rem);
  display: flex;
  align-items: flex-end;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-502-F7y .frame-182-yZm {
  margin: 0rem 2.4rem 0.1rem 0rem;
  width: 7.2001rem;
  height: 4.3475rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-509-Aew .frame-502-F7y .grace-2023-68b {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3999999762;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-503-ChR {
  width: 25rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-503-ChR .frame-510-kD9 {
  margin-bottom: 12.8rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-503-ChR .frame-510-kD9 .item--tq9 {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-503-ChR .frame-510-kD9 .item-8-800-555-35-35-P1D {
  margin-right: 1.7rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02rem;
  color: #ffffff;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-503-ChR .frame-509-GKu {
  margin: 0rem 1.7rem 0rem 4.3rem;
  box-sizing: border-box;
  padding: 1.2rem 2.4rem 1.1rem 2.4rem;
  width: calc(100% - 6rem);
  height: 4.3rem;
  border: solid 0.1rem rgba(189, 194, 191, 0.5);
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-503-ChR .frame-509-GKu .frame-321-9uV {
  width: 100%;
  height: 100%;
  position: relative;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-503-ChR .frame-509-GKu .frame-321-9uV .item--KJB {
  width: 8.5rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.365;
  letter-spacing: 0.028rem;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ocF .frame-245-J6w .frame-504-DDu .frame-503-ChR .frame-509-GKu .frame-321-9uV .logo-oz3 {
  width: 6.2rem;
  height: 1.425rem;
  position: absolute;
  left: 8rem;
  top: 0.225rem;
  object-fit: contain;
  vertical-align: top;
}
.item--ocF .item-8-800-555-35-35-Sn7 {
  margin-right: 15.9rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.06rem;
  color: #040f16;
  font-family: NT Somic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.offcanvas-body a{
  font-size: 30px;
  margin-top: 50px;
}

.frame-508-ynj a{
  cursor: pointer;
}
